body {
  color: #252525;
  width: 100%;
  height: 100%
}

.panel {
  background: #F3F3F3;
  min-height: 100%
}

.top-bar {
  height: 50px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #CACACA;
}

.top-bar-icon {
  background: url("../img/automatic-logo.png") 0 0 no-repeat;
  background-size: 26px 30px;
  position: absolute;
  height: 30px;
  width: 26px;
  left: 12px;
  top: 12px;
}

.top-bar-title {
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}

.bottom-bar {
  height: 50px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  bottom: 0;
}

.bottom-bar-item {
  width: 25%;
  float: left;
  text-align: center;
  padding-top: 32px;
  font-size: 11px;
  color: #7A7A7A;
  cursor: pointer;
}

.bottom-bar-item.active {
  color: #04C0FE;
}

.bottom-bar-item.activity {
  background: url('../img/icon-activity.png') center top 5px no-repeat;
  background-size: 27px 27px;
}

.bottom-bar-item.activity.active {
  background-image: url("../img/icon-activity-active.png");
}

.bottom-bar-item.health {
  background: url('../img/icon-health.png') center top 5px no-repeat;
  background-size: 26px 26px;
}

.bottom-bar-item.health.active {
  background-image: url("../img/icon-health-active.png");
}

.bottom-bar-item.insights {
  background: url('../img/icon-insights.png') center top 5px no-repeat;
  background-size: 25px 25px;
}

.bottom-bar-item.insights.active {
  background-image: url("../img/icon-insights-active.png");
}

.bottom-bar-item.glovebox {
  background: url('../img/icon-glovebox.png') center top 5px no-repeat;
  background-size: 26px 26px;
}

.bottom-bar-item.glovebox.active {
  background-image: url("../img/icon-glovebox-active.png");
}

.content-box {
  padding-top: 50px;
  padding-bottom: 45px;
}

.item {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 5px;
  background: #FAFAFA;
}

.item .top-date {
  font-size: 16px;
  color: #252525;
  line-height: 20px;
  padding: 10px;
  background: #FFFFFF;
}

.item h2 {
  margin: 0;
  padding: 15px 0 4px 50px;
  font-weight: bold;
  font-size: 26px;
  color: #006182;
  line-height: 28px;
  border-top: 1px solid #F3F3F3;
}

.item.problem h2 {
  color: #FF002B;
}

.item.record h2 {
  padding: 10px;
}

.item.day h2 {
  padding: 10px;
}

.item .trip-stats {
  padding: 10px;
}

.item .stat {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

.item .stat:nth-child(2) {
  text-align: center;
}

.item .stat:nth-child(3) {
  text-align: right;
}

.item .stat .stat-label {
  font-size: 14px;
  color: #9B9B9B;
  line-height: 16px;
}

.item .stat .stat-value {
  font-size: 18px;
  color: #252525;
  line-height: 22px;
}

.item .map-image {
  width: 100%;
  display: block;
}

.item.nothing {
  padding: 10px;
}

.item .details {
  padding-left: 45px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 16px;
}

.item .item-title {
  background-color: #ffffff;
  background-position: left 13px center;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #252525;
  line-height: 20px;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

.item.fuel .item-title {
  background-image: url("../img/icon-fuel.png");
  background-size: 19px 21px;
}

.item.check-engine-light .item-title {
  background-image: url("../img/icon-check-engine-light.png");
  background-size: 23px 19px;
}

.item.recalls .item-title {
  background-image: url("../img/icon-recalls.png");
  background-size: 20px 20px;
}

.item.battery .item-title {
  background-image: url("../img/icon-battery.png");
  background-size: 24px 12px;
}

.item.smog-check .item-title {
  background-image: url("../img/icon-smog-check.png");
  background-size: 24px 12px;
}

.item.tires .item-title {
  background-image: url("../img/icon-tires.png");
  background-size: 24px 23px;
}

.item.oil .item-title {
  background-image: url("../img/icon-oil.png");
  background-size: 28px 12px;
}

.item.weekly-drive-score .item-title {
  background-image: url("../img/icon-weekly-drive-score.png");
  background-size: 18px 18px;
}

.item.commute-analyzer .item-title {
  background-image: url("../img/icon-commute-analyzer.png");
  background-size: 16px 18px;
}

.item.car-comparison .item-title {
  background-image: url("../img/icon-car-comparison.png");
  background-size: 20px 25px;
}

.item.fuel-efficiency-trends .item-title {
  background-image: url("../img/icon-fuel-efficiency-trends.png");
  background-size: 18px 18px;
}

.item.insurance .item-title {
  background-image: url("../img/icon-insurance.png");
  background-size: 19px 22px;
}

.item.authorized-drivers .item-title {
  background-image: url("../img/icon-authorized-drivers.png");
  background-size: 22px 15px;
}

.item.drivers-license .item-title {
  background-image: url("../img/icon-drivers-license.png");
  background-size: 22px 19px;
}

.item.manufacturer-information .item-title {
  background-image: url("../img/icon-manufacturer-information.png");
  background-size: 18px 16px;
}

.item.adapter .item-title {
  background-image: url("../img/icon-adapter.png");
  background-size: 18px 18px;
}

.item .insights-image {
  width: 80%;
  padding: 0 10%;
}

.record-photo .photo {
  width: 100%;
  display: block;
}

.form-group {
  padding: 5px 0;
}

.form-group label {
  display: block;
  width: 100px;
}

.form-group input {
  width: 100%;
}

.form-group-submit {
  padding-top: 20px;
}

.slideout-menu {
  background: #004F69;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-menu .automatic-logo-text {
  background: url("../img/automatic-logo-text.png") center top 25px no-repeat;
  background-size: 152px 18px;
  height: 60px;
}

.slideout-menu ul {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 10px 0;
}

.slideout-menu ul.vehicle-menu {
  margin: 0;
}

.slideout-menu ul li a {
  display: block;
  padding: 15px 10px 15px 5px;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;

  padding-left: 60px;
  background-position: left 5px center;
  background-repeat: no-repeat;
}

.slideout-menu ul.vehicle-menu  li a {
  padding-left: 15px;
}


.slideout-menu ul.feature-menu a.aaa {
  background-image: url("../img/icon-aaa.png");
  background-size: 49px 30px;
}

.slideout-menu ul.feature-menu a.auto-trader {
  background-image: url("../img/icon-auto-trader.png");
  background-size: 30px 31px;
}

.slideout-menu ul.feature-menu a.crash-alert {
  background-image: url("../img/icon-crash-alert.png");
  background-size: 28px 29px;
}

.slideout-menu ul.feature-menu a.expense-reporter {
  background-image: url("../img/icon-expense-reporter.png");
  background-size: 31px 31px;
}

.slideout-menu ul.feature-menu a.experian-driver-score {
  background-image: url("../img/icon-experian-driver-score.png");
  background-size: 30px 30px;
}

.slideout-menu ul.feature-menu a.ford-of-san-francisco {
  background-image: url("../img/icon-ford-of-san-francisco.png");
  background-size: 32px 10px;
}

.slideout-menu ul.feature-menu a.gas-locator {
  background-image: url("../img/icon-gas-locator.png");
  background-size: 28px 28px;
}

.slideout-menu ul.feature-menu a.gas-rewards-by-shell {
  background-image: url("../img/icon-gas-rewards-by-shell.png");
  background-size: 32px 29px;
}

.slideout-menu ul.feature-menu a.liberty-mutual-ubi {
  background-image: url("../img/icon-liberty-mutual-ubi.png");
  background-size: 34px 45px;
}

.slideout-menu ul.feature-menu a.pay-by-phone {
  background-image: url("../img/icon-pay-by-phone.png");
  background-size: 33px 34px;
}

.slideout-menu ul.app-menu a.glympse {
  background-image: url("../img/icon-glympse.png");
  background-size: 39px 39px;
}

.slideout-menu ul.app-menu a.ifttt {
  background-image: url("../img/icon-ifttt.png");
  background-size: 39px 39px;
}

.slideout-menu ul.app-menu a.nest {
  background-image: url("../img/icon-nest.png");
  background-size: 39px 39px;
}

.slideout-menu ul.app-menu a.spotangels {
  background-image: url("../img/icon-spotangels.png");
  background-size: 39px 39px;
}

.slideout-menu ul.app-menu a.terrapass {
  background-image: url("../img/icon-terrapass.png");
  background-size: 39px 39px;
}

.slideout-menu ul.app-menu a.tile {
  background-image: url("../img/icon-tile.png");
  background-size: 39px 39px;
}

.slideout-menu ul.app-menu a.add-apps {
  background-image: url("../img/icon-add-apps.png");
  background-size: 47px 45px;
}

.slideout-menu ul.user-menu a.profile {
  background-image: url("../img/icon-profile.png");
  background-size: 22px 15px;
}

.slideout-menu ul.user-menu a.support {
  background-image: url("../img/icon-support.png");
  background-size: 25px 25px;
}

.slideout-menu ul.user-menu a.settings {
  background-image: url("../img/icon-settings.png");
  background-size: 23px 23px;
}

.slideout-menu ul.automatic-menu a.add-vehicle {
  background-image: url("../img/icon-add-vehicle.png");
  background-size: 43px 43px;
}

.slideout-menu ul.automatic-menu a.buy-adapter {
  background-image: url("../img/icon-buy-adapter.png");
  background-size: 43px 43px;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dppx) {
  .top-bar-icon {
    background-image: url("../img/automatic-logo@2x.png");
  }

  .slideout-menu .automatic-logo-text {
    background-image: url("../img/automatic-logo-text.png");
  }

  .bottom-bar-item.activity {
    background-image: url("../img/icon-activity@2x.png");
  }

  .bottom-bar-item.activity.active {
    background-image: url("../img/icon-activity-active@2x.png");
  }

  .bottom-bar-item.health {
    background-image: url("../img/icon-health@2x.png");
  }

  .bottom-bar-item.health.active {
    background-image: url("../img/icon-health-active@2x.png");
  }

  .bottom-bar-item.insights {
    background-image: url("../img/icon-insights@2x.png");
  }

  .bottom-bar-item.insights.active {
    background-image: url("../img/icon-insights-active@2x.png");
  }

  .bottom-bar-item.glovebox {
    background-image: url("../img/icon-glovebox@2x.png");
  }

  .bottom-bar-item.glovebox.active {
    background-image: url("../img/icon-glovebox-active@2x.png");
  }

  .item.fuel .item-title {
    background-image: url("../img/icon-fuel@2x.png");
  }

  .item.check-engine-light .item-title {
    background-image: url("../img/icon-check-engine-light@2x.png");
  }

  .item.recalls .item-title {
    background-image: url("../img/icon-recalls@2x.png");
  }

  .item.battery .item-title {
    background-image: url("../img/icon-battery@2x.png");
  }

  .item.smog-check .item-title {
    background-image: url("../img/icon-smog-check@2x.png");
  }

  .item.tires .item-title {
    background-image: url("../img/icon-tires@2x.png");
  }

  .item.oil .item-title {
    background-image: url("../img/icon-oil@2x.png");
  }

  .item.weekly-drive-score .item-title {
    background-image: url("../img/icon-weekly-drive-score@2x.png");
  }

  .item.commute-analyzer .item-title {
    background-image: url("../img/icon-commute-analyzer@2x.png");
  }

  .item.car-comparison .item-title {
    background-image: url("../img/icon-car-comparison@2x.png");
  }

  .item.fuel-efficiency-trends .item-title {
    background-image: url("../img/icon-fuel-efficiency-trends@2x.png");
  }

  .item.insurance .item-title {
    background-image: url("../img/icon-insurance@2x.png");
  }

  .item.authorized-drivers .item-title {
    background-image: url("../img/icon-authorized-drivers@2x.png");
  }

  .item.drivers-license .item-title {
    background-image: url("../img/icon-drivers-license@2x.png");
  }

  .item.manufacturer-information .item-title {
    background-image: url("../img/icon-manufacturer-information@2x.png");
  }

  .item.adapter .item-title {
    background-image: url("../img/icon-adapter@2x.png");
  }
}


@media screen and (min-width: 780px) {
  .slideout-panel {
    margin-left: 272px;
  }

  .slideout-menu {
    display: block;
    width: 272px;
  }

  .btn-hamburger {
    display: none;
  }

  .top-bar {
    padding-right: 272px;
    box-sizing: border-box;
  }

  .bottom-bar {
    padding-right: 272px;
    box-sizing: border-box;
  }
}
