.wrapper {
  width: 700px;
  margin: 0 auto;
}

.note {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 20px;
}

.controls {
  display: none;
}

.map {
  width: 100%;
  height: 400px;
  display: none;
}

.leaflet-top {
  z-index: 9;
}

.results-summary {
  display: none;
  font-weight: bold;
}

.show-route {
  padding-left: 15px;
}

.mg-chart-title {
  font-size: 14px;
}

.mg-year-marker {
  display: none;
}

.controls {
  margin-bottom: 20px;
}

.controls h4 {
  margin-bottom: 0;
}

.input-daterange {
  width: 50%;
  float: left;
}

.locations {
  overflow: hidden;
}

.locations h4 {
  margin-bottom: 0;
}

.location {
  width: 50%;
  float: left;
}

.location select {
  width: 200px;
}
