<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Driver Behavior / Car Health | Automatic Labs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Driver Behavior and Car Health | Automatic"/>
    <!-- <meta property="og:image" content="https://dashboard.automatic.com/assets/img/labs/car-behavior.png"/> -->
    <meta property="og:site_name" content="Automatic"/>
    <meta property="og:description" content="Insights into driver behavior and car health."/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@automatic">
    <meta name="twitter:title" content="Driver Behavior and Car Health | Automatic">
    <meta name="twitter:description" content="Insights into driver behavior and car health.">
    <!-- <meta name="twitter:image" content="https://dashboard.automatic.com/assets/img/labs/car-behavior.png"> -->

    <link href="../common/css/style.css" rel="stylesheet" />
    <link href="css/car-behavior.css" rel="stylesheet" />

    <script id="results-template" type="text/template">
      <div class="graphs">
        <% if (mode === 'style') { %>
          <svg class="style-heatmap-svg heatmap-svg"></svg>
          <svg class="style-heatmap-svg heatmap-svg"></svg>
          <svg class="style-2d-graph-svg graph-svg"></svg>
          <div class="toggle-row">
            <span class="toggle graph-mode-toggle">line graph</span> / <span class="toggle heatmap-mode-toggle">heatmap</span>
          </div>
          <p>Your persona is <span class="persona"></span>.</p>
        <% } else if (mode === 'efficiency') { %>
          <svg class="efficiency-heatmap-svg heatmap-svg"></svg>
          <svg class="efficiency-heatmap-svg heatmap-svg"></svg>
          <svg class="efficiency-2d-graph-svg graph-svg"></svg>
          <div class="toggle-row">
            <span class="toggle graph-mode-toggle">line graph</span> / <span class="toggle heatmap-mode-toggle">heatmap</span>
          </div>
          <p>Your optimal speed for fuel efficiency is <span class="optimal-efficiency"></span> MPH.</p>
        <% } else if (mode === 'power') { %>
          <div>
            <svg class="horsepower-heatmap-svg heatmap-svg"></svg>
            <svg class="horsepower-heatmap-svg heatmap-svg"></svg>
          </div>
          <div>
            <svg class="torque-heatmap-svg heatmap-svg"></svg>
            <svg class="torque-heatmap-svg heatmap-svg"></svg>
          </div>
          <svg class="power-2d-graph-svg graph-svg"></svg>
          <div class="toggle-row">
            <span class="toggle graph-mode-toggle">line graph</span> / <span class="toggle heatmap-mode-toggle">heatmap</span>
          </div>
          <p>Your optimal RPM for power is <span class="optimal-power"></span>.</p>
        <% } %>
        <p>Comparison goes here.</p>
        <p>FAQ goes here.</p>
      </div>
    </script>

    <script id="vehicle-picker-template" type="text/template">
      <% _.each(selects, function(select) { %>
        <div class="select-row">
          <%- select.name %>
          <select data-key="<%- select.key %>">
            <% _.each(select.options, function(option) { %>
              <option <%- select.selected === option ? 'selected' : '' %>><%- option %></option>
            <% }); %>
          </select>
        </div>
      <% }); %>
      <div class="btn btn-default btn-disabled btn-select">Select</div>
    </script>

  </head>
  <body class="graph-mode">
    <a class="btn-logout" href="/#/logout">Log out</a>
    <div class="loading">
      <div class="title">Loading...</div>
      <div class="progress"></div>
    </div>
    <div class="wrapper">
      <h1 class="labs-title">Driver Behavior and Car Health</h1>
      <div class="labs-tagline">By Automatic Labs</div>
      <div class="tabs">
        <div class="tab style-tab" data-mode="style">Driving Style</div>
        <div class="tab efficiency-tab" data-mode="efficiency">Car Health - Fuel Efficiency</div>
        <div class="tab power-tab" data-mode="power">Car Health - Power</div>
      </div>
      <p class="explanation"></p>
      <p>This feature is currently in alpha.</p>
      <div class="controls hidden" id="controls">
        Choose Your Vehicle:
        <select id="vehicleChoice"></select>
        Compare With:
        <select class="group-select"></select>
      </div>
      <div class="alert alert-warning alert-demo">This is sample data from a demo account. <a class="login-link" href="#">Log in</a> to view your Automatic driving history.</div>
      <div class="error"></div>
      <div class="results"></div>
      <a href="/#/labs" class="automatic-labs" title="Back to Automatic Labs Home"></a>
    </div>
    <div class="modal">
      <div class="modal-dialog">
        <div class="close">×</div>
        <div class="modal-content"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
    <script src="../common/js/main.js"></script>
    <script src="js/car-behavior.js"></script>
    <script src="js/heatmap-data.js"></script>
    <script src="js/svg-base.js"></script>
    <script src="js/2d-graph.js"></script>
    <script src="js/heatmap.js"></script>
    <script src="js/results-view.js"></script>
    <script src="js/vehicle-picker-modal.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33317148-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
