<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Driver Behavior / Car Health | Automatic Labs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Driver Behavior and Car Health | Automatic"/>
    <meta property="og:image" content="/labs/car-behavior/img/car-behavior-banner.png"/>
    <meta property="og:site_name" content="Automatic"/>
    <meta property="og:description" content="Insights into driver behavior and car health."/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@automatic">
    <meta name="twitter:title" content="Driver Behavior and Car Health | Automatic">
    <meta name="twitter:description" content="Insights into driver behavior and car health.">
    <meta name="twitter:image" content="/labs/car-behavior/img/car-behavior-banner.png">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../common/css/style.css" rel="stylesheet" />
    <link href="css/car-behavior.css" rel="stylesheet" />

    <script id="results-template" type="text/template">
      <div class="graphs">
        <% if (mode === 'style') { %>
          <h2 class="for-graph">Average Acceleration at Different Speeds</h2>
          <h2 class="for-heatmap">Driver Heatmap</h2>
          <div>
            <div class="toggle-row">
              <span class="toggle graph-mode-toggle">Graph</span>
              <span class="toggle heatmap-mode-toggle">Heatmap</span>
            </div>
          </div>
          <svg class="style-heatmap-svg heatmap-svg"></svg>
          <svg class="style-heatmap-svg heatmap-svg right-heatmap"></svg>
          <svg class="style-2d-graph-svg graph-svg"></svg>
        <% } else if (mode === 'efficiency') { %>
          <h2 class="for-graph">Cruising MPG at Different Speeds</h2>
          <h2 class="for-heatmap">MPG at Different Speeds and Accelerations</h2>
          <div>
            <div class="toggle-row">
              <span class="toggle graph-mode-toggle">Graph</span>
              <span class="toggle heatmap-mode-toggle">Heatmap</span>
            </div>
          </div>
          <svg class="efficiency-heatmap-svg heatmap-svg"></svg>
          <svg class="efficiency-heatmap-svg heatmap-svg right-heatmap"></svg>
          <svg class="efficiency-2d-graph-svg graph-svg"></svg>
        <% } else if (mode === 'power') { %>
          <h2 class="for-graph">Dyno Graph - Horsepower and Torque</h2>
          <h2 class="for-heatmap">Average Horsepower at Different RPMs and Speeds</h2>
          <div>
            <div class="toggle-row">
              <span class="toggle graph-mode-toggle">Graph</span>
              <span class="toggle heatmap-mode-toggle">Heatmap</span>
            </div>
          </div>
          <svg class="horsepower-heatmap-svg heatmap-svg"></svg>
          <svg class="horsepower-heatmap-svg heatmap-svg right-heatmap"></svg>
          <svg class="power-2d-graph-svg graph-svg"></svg>
        <% } %>
      </div>
    </script>

    <script id="comparison-template" type="text/template">
      <h2><%- title %></h2>
      <div class="comparison-content">
        <div class="comparison-text"><%- text %></div>
        <div class="table">
          <% _.each(comparisons, function(comparison) { %>
            <div class="row">
              <div class="key">
                <%- comparison.key %>
              </div>
              <div class="graph" data-tooltip="<%- comparison.tooltip %>">
                <div class="bar single" style="width: <%- comparison.singlePercent %>%"></div>
                <div class="bar group" style="width: <%- comparison.groupPercent %>%"></div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </script>

    <script id="faq-template" type="text/template">
      <h2 class="faq-title">FAQ</h2>
      <% if (mode === 'style') { %>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>Does high acceleration mean I’m more aggressive?</h3>
          <p class="answer">Higher rates of both hard acceleration and braking has been shown to correlate to a higher frequency of crashes and near crashes (link to Comparing Real-World Behaviors of Drivers With High versus Low Rates of Crashes and Near-Crashes). There are more behaviors of aggressive driving that aren’t incorporated in our current measurement (e.g. swerving, changing lanes without signaling) that would improve our measures of aggressive driving.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>Why does my average acceleration line cut off before the vehicles I’m comparing against?</h3>
          <p class="answer">In order to calculate the average acceleration at each speed, we require a minimum time spent driving at that velocity.  It’s possible you did not spend enough time driving at that speed (Not too many people drive consistently at 100MPH for example).  The comparison vehicles are an aggregate of all Automatic vehicles, so much more data is generated to build the graphs and heatmaps.</p>
        </div>
      <% } else if (mode === 'efficiency') { %>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>Why don’t I see my MPG heatmap?</h3>
          <p class="answer">There’s a couple possible reasons.  At this time, the MPG heatmap is only shown for vehicles that have a mass air flow sensor. Cars without this sensor have slightly less accurate calculations of MPG and we are working to include these vehicles in our analysis.  Also, certain older vehicles with non-CAN OBD protocols may not show data.  This is due to the frequency of data that is created by the vehicle.  Again, we’re working to find a solution for this to display data for all vehicles.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>Why does my MPG line cut off before the vehicles I’m comparing against?</h3>
          <p class="answer">In order to calculate the MPG at each speed, we require a minimum time spent driving at that velocity.  It’s possible you did not spend enough time driving at that speed (Not too many people drive consistently at 100MPH for example).  The comparison vehicles are an aggregate of all Automatic vehicles, so much more data is generated to build the graphs and heatmaps.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>What are some reasons why my vehicle is getting different values than other similar cars?</h3>
          <p class="answer">There are a couple different reasons why your car’s might not match similar vehicles.  Environmental factors (e.g. going up more hills, driving on bumpy roads) and vehicle factors (e.g. carrying extra weight in your car, poorly inflated tires) may have an impact.  It could also deal with the amount of time you spend at each velocity.  For example, if you don’t drive at high speeds often, your data could be skewed by a few rare events.  We try to factor for this, but there are cases where we don’t filter out this data.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>What data are you showing for models that have diesel versions?</h3>
          <p class="answer">Right now all groups are built with gasoline only vehicles.  We are working on adding an option to select from the diesel versions of similar cars.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>My MPG data looks wrong by a factor of 2x. Why?</h3>
          <p class="answer">There are certain vehicles where we are incorrectly calculating MPG - namely heavy duty trucks. We are working to identify all these vehicles and correct the data for the next version of the lab.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>What’s the driving style of an average American?</h3>
          <p class="answer">We analyzed the driving style heatmap of all Automatic users and identified the grouping that most of our users were associated with. There are certain types of users that don’t fit this mold (e.g. the lucky few that don’t have to deal with traffic, or only drive on city streets) but this was the best objective measure to catch the majority of Automatic users.</p>
        </div>
      <% } else if (mode === 'power') { %>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>My horsepower numbers don't look right</h3>
          <p class="answer">We’re hunting down some vehicles that are showing values that are too high by a large margin, so stay tuned for an update to those.
If your numbers are looking slightly lower than you expect in the heatmap, it’s because we’re showing the average horsepower you experience across all the times that you accelerate, combining the times where you jump off the line very quickly, and also the times that you make a slow steady climb up to speed.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>What are those lines in the horsepower heatmap?</h3>
          <p class="answer">The lines represent the gears of your engine. You should be able to see which gear, rpm, velocity combination gives you the maximum horsepower and torque. If you not see any lines, it’s possible you have a <a href="https://en.wikipedia.org/wiki/Continuously_variable_transmission" target="_blank">Continuously Variable Transmission</a>.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>Why do my horsepower/torque lines cut off before the vehicle I’m comparing against?</h3>
          <p class="answer">In order to calculate the horsepower and torque at each RPM range, we require a minimum time spent driving at that RPM.  It’s possible you did not spend enough time driving at that RPM (Not too many people drive consistently at 8000RPMs for example).  The comparison vehicles are an aggregate of all Automatic vehicles, so much more data is generated to build the graphs and heatmaps.</p>
        </div>
        <div class="question">
          <i class="fa fa-chevron-down open-control"></i>
          <h3>Does this match what a dynamometer does?</h3>
          <p class="answer">Not exactly.  A dynamometer will measure the maximum horsepower (and torque) that your vehicle can exert as your car accelerates as hard as it can.  We are analyzing a month’s worth of data to find the instances when your car is experiencing high power throughout the velocity and rpm ranges it drives through.  The assumption is that you will have put your vehicle through high acceleration in “wide-open-throttle” at least a couple times within the past month.  If not, the data may not represent your car’s power correctly. This is also the reason why your horsepower numbers may not exactly match your car’s specs.</p>
        </div>
      <% } %>
      <div class="question">
        <i class="fa fa-chevron-down open-control"></i>
        <h3>How often do you update the page?</h3>
        <p class="answer">Every month we generate a new set of data for you to look at.</p>
      </div>
      <div class="question">
        <i class="fa fa-chevron-down open-control"></i>
        <h3>I don’t see any data for my vehicle</h3>
        <p class="answer">If you signed up for Automatic in the middle of the month, it’s possible we haven’t generated your month’s data yet.  It’s also possible that you did not have enough driving for us to generate heatmaps for you.  Keep on driving and come back next month to check out your data!</p>
      </div>
    </script>

    <script id="vehicle-picker-template" type="text/template">
      <div class="top-section">
        <% _.each(sections, function(section, sectionIndex) { %>
          <div class="section" data-index="<%- sectionIndex %>">
            <h2><%- section.name %></h2>
            <% _.each(section.rows, function(row, rowIndex) { %>
              <div class="select-row" data-index="<%- rowIndex %>">
                <input type="radio" <%- rowIndex === section.selectedRowIndex ? 'checked' : '' %>>
                <% if (row.name) { %>
                  <%- row.name %>
                <% } %>
                <% _.each(row.menus, function(menu) { %>
                  <select data-key="<%- menu.key %>">
                    <% _.each(menu.select.options, function(option) { %>
                      <option value="<%- option.key %>" <%- menu.select.selected === option.key ? 'selected' : '' %>><%- option.name %></option>
                    <% }); %>
                  </select>
                <% }); %>
              </div>
            <% }); %>
            <% if (section.note) { %>
              <p class="note"><%- section.note %></p>
            <% } %>
          </div>
        <% }); %>
      </div>
      <div class="btn btn-default btn-disabled btn-select">Select</div>
    </script>

  </head>
  <body class="graph-mode">
    <a class="btn-logout" href="/#/logout">Log out</a>
    <div class="loading">
      <div class="title">Loading...</div>
      <div class="progress"></div>
    </div>
    <div class="wrapper">
      <h1 class="labs-title">Car Health and Driving Style</h1>
      <div class="labs-tagline">By Automatic Labs</div>
      <p>This feature is currently in beta. If you have any feedback, please tell us in our customer <a href="https://community.automatic.com/automatic/topics/dashboard-labs-introducing-car-health-and-driving-style">community</a></p>
      <div class="tabs">
        <div class="tab efficiency-tab" data-mode="efficiency">Car Health - Fuel Efficiency</div>
        <div class="tab power-tab" data-mode="power">Car Health - Power</div>
        <div class="tab style-tab" data-mode="style">Driving Style</div>
      </div>
      <p class="explanation"></p>
      <p class="prompt"></p>
      <div class="alert alert-warning alert-demo">This is sample data from a demo account. <a class="login-link" href="#">Log in</a> to view your Automatic driving history.</div>
      <div class="controls hidden" id="controls">
        <div class="left-controls">
          <div class="swatch your-swatch"></div>
          <span class="your">Your</span> Vehicle:
          <select id="vehicleChoice"></select>
        </div>
        <div class="right-controls">
          <div class="swatch group-swatch"></div>
          Compare With:
          <select class="group-select"></select>
        </div>
      </div>
      <div class="error"></div>
      <div class="results"></div>
      <div class="insights">
        <div class="left-insight"></div>
        <div class="right-insight"></div>
      </div>
      <div class="comparison"></div>
      <div class="faq"></div>
      <a href="/#/labs" class="automatic-labs" title="Back to Automatic Labs Home"></a>
    </div>
    <div class="modal">
      <div class="modal-dialog">
        <div class="close">×</div>
        <div class="modal-content"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.min.js"></script>
    <script src="../common/js/main.js"></script>
    <script src="js/car-behavior-app.js"></script>
    <script src="js/heatmap-data.js"></script>
    <script src="js/svg-base.js"></script>
    <script src="js/2d-graph.js"></script>
    <script src="js/heatmap.js"></script>
    <script src="js/results-view.js"></script>
    <script src="js/vehicle-picker-modal.js"></script>
    <script src="js/tab-mode.js"></script>
    <script src="js/vehicle-menu.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33317148-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
