@mixin lightGreenGradient {
  background: -moz-linear-gradient(bottom,  rgba(121,239,98,0.15) 0%, rgba(83,165,68,0) 10%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(121,239,98,0.15)), color-stop(10%,rgba(83,165,68,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to top,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a679ef62',GradientType=0 ); /* IE6-9 */
}

body {
  font-family: AvenirNextPro;
  color: $base_type;
  background: $main_back;
}

body.summary {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: normal;
}

h1 {
  font-size: 16px;
  line-height: 24px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
}


h3 {
  font-size: 12px;
  line-height: 16px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

select {
  @include appearance(none);
  @include box-sizing(border-box);
  color: $link_type;
  padding: 5px;
  padding-right: 24px;
  border: 0;
  min-width: 0;
  font-weight: 400;
  @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-color: #f1efeb;
}

a {
  color: $link_type;
}

a:hover {
  text-decoration: none;
  color: $highlight;
}

main {
  min-width: 1020px;
}

#left-column {
  margin: 0;
  overflow: hidden;
  margin-right: 311px;
  margin-left: 30px;
}

#right-column {
  width: 310px;
  float: right;
  margin-right: 30px;
  margin-left: 30px;
}

#staging {
  display: none;
}
