body {
  font-family: AvenirNextPro;
  color: $base_type;
  background: $main_back;
}

body.summary {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: normal;
}

h1 {
  font-size: 16px;
  line-height: 24px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
}

h3 {
  font-size: 12px;
  line-height: 16px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

select {
  @include appearance(none);
  @include box-sizing(border-box);
  color: $link_type;
  padding: 5px;
  padding-right: 24px;
  border: 0;
  min-width: 0;
  font-weight: 400;
  @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
  background-position: right 4px center;
  background-repeat: no-repeat;
  background-color: #f1efeb;
}

a {
  color: $link_type;

  &:hover {
    text-decoration: none;
    color: $highlight;
  }
}

main {
  min-width: 1080px;
  min-height: 625px;
  margin-bottom: 30px;
}

#left-column {
  margin: 0 380px 0 30px;
}

#right-column {
  width: 320px;
  float: right;
  margin-right: 30px;
  margin-left: 30px;
  z-index: 1;
  position: relative;
}

#staging {
  display: none;
  position: absolute;
  top: 7px;
  left: -110px;
  width: 263px;
  height: 27px;
  line-height: 25px;
  text-align: center;
  opacity: 0.7;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: $red;
  border: 2px solid white;
  z-index: 500;
}


#automaticVersion {
  position: absolute;
  bottom: 5px;
  right: 30px;
  font-size: 10px;
  color: #F3F3F2;
}
