
@mixin lightGradient {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 6%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(6%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 6%,rgba(0,0,0,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

@mixin lightGreenGradient {
  background: -moz-linear-gradient(top,  rgba(121,239,98,0.15) 0%, rgba(83,165,68,0) 10%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(121,239,98,0.15)), color-stop(10%,rgba(83,165,68,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(121,239,98,0.15) 0%,rgba(83,165,68,0) 10%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a679ef62', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

body {
  font-family: 'Avenir LT W01 55 Roman',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialised;
  overflow: hidden;
}

body.summary {
  overflow: hidden;
}

strong {
  font-family: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

em {
  font-family: 'AvenirLTW01-55Oblique', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal !important;
}

h3 em, strong em {
  font-family: 'AvenirLTW01-85HeavyObli', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-family: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif;
  color: inherit;
  text-rendering: optimizelegibility;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}


h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

select {
  @include appearance(none);
  @include box-sizing(border-box);
  color: $font_dark;
  padding: 5px;
  padding-right: 24px;
  border: 0;
  min-width: 0;
  font-weight: 400;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right 4px center;
  background-color: #f1efeb;
}

/* Global Popover Styles */

.popover {
  border-top: 2px solid $blue;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  &.bottom > .arrow:after {
    border-bottom-color: $blue;
  }

  .popover-title {
    background: none;
    border-bottom: none;
    text-transform: uppercase;
    color: $font_light;
    font-weight: bold;
    padding-bottom: 0;
  }
}


#content {
  width: 100%;
  min-width: 850px;
  background: #FFF;
  padding: 10px 20px;
  position: relative;
  min-height: 420px;
  overflow: hidden;
  box-sizing: border-box;
}

header.mainHeader {
  position: relative;
  border-bottom: 1px solid #ddd;
  height: 70px;
  background: $header_back;
  padding: 0 30px;

  #user {
    position: absolute;
    right: 0;
    top: 0px;
    padding-right: 30px;

    #topMenu {
      li {
        display: inline-block;

        a {
          padding: 20px;
          font-size: 16px;
          font-family: 'Avenir LT W01 85 Heavy',Helvetica,Arial,sans-serif;
          color: #a6a6a2;
          display: inline-block;

          &:hover {
            text-decoration: none;
            color: #0fa0bb;
          }
        }

        &:last-child a {
          padding-right: 0;
        }
      }
    }
  }

  #logo {
    background: url('../img/logo.png') 0 0 no-repeat;
    width: 180px;
    height: 40px;
    float: left;
    margin: 15px 0;
    display: inline;
    line-height: 50px;
    vertical-align: middle;
    background-size: 100% 100%;
  }
}


#left-column {
  border-top: 1px solid #ddd;
  margin: 0;
  overflow: hidden;
  margin-right: 311px;
  padding-left: 15px;
  padding-right: 15px;
}

#right-column {
  width: 311px;
  float: right;
}

.shareList {
  width: 150px;
}

.shareList li {
  padding: 5px 0;
}

.shareList li:hover {
  color: #428bca;
  cursor: pointer;
}

.alertBox {
  text-align: center;
  font-size: 20px;
  height: 130px;
  height: 130px;
  position: absolute;
  right: 50%;
  top: 225px;
  width: 200px;
  margin-right: -100px;
  border-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  display: none;
  background-color: #fff;
  padding-top: 20px;
}

.loading {
  background: #FFF url(/images/loading.gif) center bottom no-repeat;
}

.noTrips a {
  display: block;
}


#trip {
  width: 750px;
  margin: 0 auto;
  overflow: visible;

  .tripHeader {
    text-align: center;
    font-size: 30px;
    position: relative;

    .btn {
      margin: 0 10px;
      position: relative;
    }

    .btn.back {
      top: 8px;
      left: 0;
      position: absolute;
      margin-left: 0;
    }

    .btn.share {
      top: 8px;
      right: 0;
      position: absolute;
      margin-right: 0;
    }

    .btn.noTrip {
      visibility: hidden;
    }
  }

  #map {
    position: relative;

    .map {
      height: 400px;
    }

    .hardBrakeIcon {
      background: #ff8888;
      border: 1px solid rgba(255,255,255,0.5);
      color: #fff;
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      line-height: 10px;
    }

    .hardAccelIcon {
      background: #ffd489;
      border: 1px solid rgba(255,255,255,0.5);
      color: #fff;
      font-weight: bold;
      text-align: center;
      border-radius: 50%;
      line-height: 10px;
    }

    .tripEvents {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: rgba(255, 255, 255, 0.8);
      padding: 4px 4px;
      border: #ccc 1px solid;

      .event {
        display: inline-block;
        padding-right: 10px;
        overflow: hidden;

        label {
          text-transform: uppercase;
          color: #777;
          font-size: 12px;
          width: 52px;
          line-height: 13px;
        }

        span {
          font-size: 20px;
          line-height: 24px;
          vertical-align: top;
        }

      }
      .hardBrakes span {
        clear: both;
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-weight: bold;
        box-sizing: border-box;
        text-align: center;
        background: #ff8888;
      }

      .hardBrakes.noHardBrakes span {
        background: #7fb75c;
        color: #FFF;
      }

      .hardAccels span {
        clear: both;
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-weight: bold;
        box-sizing: border-box;
        text-align: center;
        background: #ffd489;
      }

      .hardAccels.noHardAccels span {
        background: #7fb75c;
        color: #FFF;
      }

      .speeding span {
        clear: both;
        float: left;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-weight: bold;
        box-sizing: border-box;
        text-align: center;
        background: #fe8c0a;
      }

      .speeding.noSpeeding span {
        background: #7fb75c;
        color: #FFF;
      }
    }
  }
}
