.btn {
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  @include noSelection;
}

.btn-blue {
  background-color: #82C9F1;
  @include box-shadow(0px 1px 0px 0px #4AB4F0);
  color: #FFF;

  &:hover {
    background-color: #4AB4F0;
    color: #FFF;
  }

  &:active {
    background-color: #297FB8;
    color: #FFF;
  }

  &:focus {
    color: #FFF;
  }
}

.btn-grey {
  background-color: $header_back;
  color: $link_type;

  &:hover {
    background-color: #E5E4E1;
  }

  &:active {
    background-color: $line_gray;
  }
}

.btn-white {
  background-color: #FFF;
  color: $highlight;
  @include box-shadow(0px 1px 0px 0px #227EBA);

  &:hover {
    background-color: $main_back;
    color: $highlight;
  }
}

.btn-filter {
  background-color: $header_back;
  background-repeat: no-repeat;
  height: 28px;
  line-height: 15px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  padding: 9px 5px;
  color: $link_type;

  &:hover {
    background-color: #FFF;
    color: $highlight;
    @include box-shadow(0px 1px 0px 0px #E3E2DE);
  }

  &.disabled {
    cursor: auto;

    &:hover {
      background-color: $header_back;
      @include box-shadow(inherit);
    }
  }
}
