.btn {
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.btn-blue {
  background-color: #82C9F1;
  box-shadow: 0px 1px 0px 0px #4AB4F0;
  color: #FFF;

  &:hover {
    background-color: #297FB8;
    color: #FFF;
  }
}

.btn-grey {
  background-color: $header_back;
  color: $link_type;

  &:hover {
    background-color: $line_gray;
    color: $link_type;
  }
}

.btn-white {
  background-color: #FFF;
  color: $link_type;
  -moz-box-shadow: 0px 1px 0px 0px #227EBA;
  box-shadow: 0px 1px 0px 0px #227EBA;

  &:hover {
    background-color: $main_back;
    color: $link_type;
  }
}

.btn-filter {
  background-color: $header_back;
  background-repeat: no-repeat;
  height: 28px;
  line-height: 15px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  padding: 9px 5px;
  color: $link_type;

  &:hover {
    background-color: #FFF;
    color: $highlight;
    -moz-box-shadow: 0px 1px 0px 0px #E3E2DE;
    box-shadow: 0px 1px 0px 0px #E3E2DE;
  }

  &.disabled {
    cursor: auto;

    &:hover {
      background-color: $header_back;
      -moz-box-shadow: inherit;
      box-shadow: inherit;
    }
  }
}

.btn-dropdown {
  padding-right: 25px;
  background-position: right 5px center;
  @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
}
