#coach_login {
  position: relative;
  width: 675px;
  margin: 50px auto 0;

  .left {
    width: 50%;
    float: left;
    padding-right: 30px;
  }

  .right {
    width: 50%;
    float: right;
    padding-left: 30px;
  }

  .topBox {
    padding: 20px 30px;
    background: #FFF;
    border-radius: 3px;
    @include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px $disabled);
    overflow: hidden;

    .left {
      @include hr-image('../img/logo_licenseplus.png', '../img/logo_licenseplus@2x.png');
      background-repeat: no-repeat;
      height: 174px;
    }

    .right {
      @include hr-image('../img/logo_automatic_sm.png', '../img/logo_automatic_sm@2x.png');
      background-repeat: no-repeat;
      background-position: 30px 0;
      padding-top: 40px;

      h1 {
        margin: 0 0 5px;
        font-size: 22px;
        line-height: 32px;
        font-weight: bold;
      }

      h3 {
        font-size: 18px;
        margin: 0;
        line-height: 24px;
      }

    }
  }

  .bottomBox {
    padding: 0 30px;
    margin-top: 40px;
    background: $main_back;
    overflow: hidden;

    .left {
      border-right: 1px solid $line_gray;

      .staySignedIn {
        margin-right: 10px;
        margin-bottom: 10px;
      }

      #loginForm {
        form {
          padding-top: 10px;

          label {
            font-size: 12px;
            font-weight: normal;
          }

          .alert {
            margin-bottom: 15px;
          }
        }

        .forgotPassword {
          margin-top: 20px;
        }
      }

      #createAccountForm {
        display: none;

        label {
          font-size: 12px;
          font-weight: normal;
        }
      }

      .divider {
        text-align: center;
        border-bottom: 1px solid $line_gray;
        margin: 15px 0 25px;
        color: $link_type;
        height: 11px;

        span {
          background: $main_back;
          padding: 0 10px;
        }
      }
    }

    .right {
      .permissionsList {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 30px;

        li {
          margin: 7px 0;
          height: 30px;
          line-height: 30px;
          padding-left: 50px;
          background-repeat: no-repeat;
          font-weight: bold;
          font-size: 14px;
        }

        .hardEvents{
          @include hr-image('../img/hardEvents.png', '../img/hardEvents@2x.png');
        }
        .speeding {
          @include hr-image('../img/speeding.png', '../img/speeding@2x.png');
        }
        .fuelEfficiency {
          @include hr-image('../img/fuelEfficiency.png', '../img/fuelEfficiency@2x.png');
        }
        .distance {
          @include hr-image('../img/distance.png', '../img/distance@2x.png');
        }
      }
    }
  }
}


@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #coach_login {
    width: 100%;
    margin: 0;
    @include box-shadow(none);

    .topBox {
      padding: 30px 25px 0;
      background: inherit;
      @include box-shadow(none);

      .left {
        display: none;
      }

      .right {
        @include hr-image('../img/icon_medal.png', '../img/icon_medal@2x.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-top: 0;
        width: 100%;
        padding-left: 70px;
        float: none;

        h1 {
          font-size: 18px;
          line-height: 22px;
        }

        h3 {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    .bottomBox {
      padding: 0 25px;
      margin-top: 20px;

      .left {
        width: 100%;
        float: none;
        padding-right: 0;
        border-right: none;
      }

      .right {
        display: none;
      }
    }
  }
}
