
#filters {
  height: 78px;
  box-sizing: border-box;
  padding: 25px 30px;
  border-bottom: 1px solid $line_light_gray;

  .filterLabel {
    font-size: 16px;
    display: inline-block;
    margin: 0;
  }

  .appliedFilters {
    margin: 0 0 0 10px;
    display: inline-block;

    li {
      display: inline-block;
    }
  }

  .addFilter {
    display: inline-block;
    width: 28px;
    @include hr-image('../img/icon_plus.png', '../img/icon_plus@2x.png');
    background-position: 50% center;
  }

  .resetFilters {
    float: right;
    line-height: 25px;
  }

  .popoverContent {
    display: none;
  }

  .btn-filter {
    background-color: $header_back;
    background-repeat: no-repeat;
    height: 28px;
    line-height: 15px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 5px;
    color: $link_type;

    &:hover {
      background-color: #FFF;
      color: $highlight;
      -moz-box-shadow: 0px 1px 0px 0px #E3E2DE;
      box-shadow: 0px 1px 0px 0px #E3E2DE;
    }
  }

  .btn-dropdown {
    padding-right: 25px;
    background-position: right 5px center;
    @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
  }

  .filterNav {
    display: inline-block;

    li {
      margin: 0;
      background-position: 50% center;

      a {
        overflow: hidden;
        text-indent: -9999px;
        width: 35px;
        display: block;
      }

      &.undo {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 1px;
        border-right: 1px solid rgba(0,0,0,0.10);
        @include hr-image('../img/icon_back_active.png', '../img/icon_back_active@2x.png');
      }

      &.redo {
        @include hr-image('../img/icon_forward_active.png', '../img/icon_forward_active@2x.png');
      }
    }
  }

  li {
    display: inline-block;
  }

  .popover-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .filterList {
    width: 150px;

    li {
      padding: 5px 0;
      cursor: pointer;
      display: block;

      &:hover {
        color: #428bca;
      }
    }
  }
}
