#graphs {
  position: relative;
  height: 226px;

  .graphMenu {
    .dateRange {
      float: left;
      display: inline-block;
      line-height: 25px;
      margin-top:10px;
    }

    .graphType {
      float: left;
      margin-left: 25px;
      line-height: 25px;
      color: $link_type;
      padding-right: 25px;
      background-position: right 5px center;
      background-repeat: no-repeat;
      @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
      cursor: pointer;
      margin-top:10px;
      @include noSelection;

      &:hover {
        color: $highlight;
      }
    }

    .popover-content {
        min-width: 100px;
    }
  }

  .graphAverages {
    float: right;
    position: relative;

    .graphAveragesLabel {
      text-align: right;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;
    }

    .graphAveragesValue {
      font-size: 24px;
      display: inline-block;
      color: $link_type;
      vertical-align: middle;
      padding-top: 10px;
    }

    .graphAveragesBackground {
      font-size: 78px;
      line-height: 70px;
      color: $header_back;
      position: absolute;
      top: 0;
      right: -5px;
      z-index: -10;
      text-transform: uppercase;
    }
  }

  .graphTooltipContainer {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;

    .graphTooltip {
      padding: 15px;
      min-width: 65px;
      height: 76px;
      border-radius: 3px;
      background: #FFFFFF;
      @include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px #E3E2DE);
      text-align: center;
      border-bottom: 2px solid $blue;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
      left: -50%;

      .date {
        font-size: 10px;
        text-transform: uppercase;
        padding-bottom: 6px;
      }

      .value {
        color: $link_type;
        font-size: 24px;
      }

      .arrow {
        border-color: transparent;
        border-top-color: $blue;
        left: 50%;
        margin-left: -11px;
        border-bottom-width: 0;
        bottom: -22px;
        border-width: 11px;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
  }

  .graphContainer {
    white-space: nowrap;
    padding-top: 35px;

    rect.graphGradient {
      fill: url(#graphGradient);
    }

    text {
      fill: $base_type;
    }

    g.bar {
      cursor: pointer;

      path.barBackground {
        fill: #FFF;
      }

      path.barOutline {
        stroke: #D8D7D3;
        fill: transparent;
        //shape-rendering: crispEdges;

        &:hover {
          stroke: #3FA6E0;
        }
      }

      &.selected path.barBackground {
        fill: #297FB8;
      }

      &.selected path.barOutline {
        stroke: #297FB8;
      }

      &:hover path.barBackground,
      &.highlighted path.barBackground {
        fill: #82C9F1;
      }

      &:hover path.barOutline,
      &.highlighted path.barOutline {
        stroke: #3FA6E0;
      }

      text {
        font-size: 10px;
        fill: $link_type;

        &.tickLabel {
          font-size: 11px;
          fill: $base_type;
          text-transform: uppercase;

          &.empty {
            fill: $inactive_type;
          }
        }

        &.axisLabel {
          text-transform: uppercase;
          font-size: 12px;
          fill: $base_type;
        }
      }
    }

    .average_mpg {
      .max {
        path.barOutline {
          stroke: $green;
        }

        .barLabel {
          fill: $green;
        }
      }

      .min {
        path.barOutline {
          stroke: $red;
        }

        .barLabel {
          fill: $red;
        }
      }
    }

    .fuel_cost_usd,
    .distance_miles,
    .duration {
      .max,
      .min {
        path.barOutline {
          stroke: $base_type;
        }

        .barLabel {
          fill: $base_type;
        }
      }
    }

    .grid {
      .tick {
        stroke: $line_light_gray;
        opacity: 0.5;
        shape-rendering: crispEdges;
      }

      path {
        stroke-width: 0;
        shape-rendering: crispEdges;
      }
    }

    .x.axis {
      stroke: $line_gray;
      shape-rendering: crispEdges;
    }
    .x.axis.background {
      stroke: transparent;
      fill: $main_back;
    }
  }
}
