#graphs {
  position: relative;
  height: 200px;
  width: 100%;
  margin-bottom: 60px;

  .graphMenu {
    padding-top: 10px;
    float: left;

    .dateRange {
      float: left;
      display: inline-block;
      line-height: 25px;
    }

    .graphType {
      float: left;
      margin-left: 25px;
      line-height: 25px;
      color: $link_type;
      padding-right: 25px;
      background-position: right 5px center;
      background-repeat: no-repeat;
      @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
      cursor: pointer;

      &:hover {
        color: $highlight;
      }
    }

    .popover-content {
        min-width: 100px;
    }
  }

  .graphAverages {
    float: right;
    position: relative;

    .graphAveragesLabel {
      text-align: right;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;
    }

    .graphAveragesValue {
      font-size: 24px;
      display: inline-block;
      color: $link_type;
      vertical-align: middle;
      padding-top: 10px;
    }

    .graphAveragesBackground {
      font-size: 78px;
      line-height: 78px;
      color: $header_back;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -10;
      text-transform: uppercase;
    }
  }

  .graphTooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    color: #FFF;
    background: rgba(50, 50, 50, 0.7);
    padding: 4px 8px;
  }

  .graphContainer {
    rect.graphGradient {
      fill: url(#graphGradient);
    }

    text {
      fill: $base_type;
    }

    .x.axis {
      path {
        fill: none;
      }
      line.bottom {
        stroke: #D8D8D8;
        shape-rendering: crispEdges;
      }
      text.empty {
        fill: $inactive_type;
      }
    }

    g.bar {
      path {
        fill: #FFF;
        stroke: #D8D7D3;
        // shape-rendering: crispEdges;
      }

      text {
        font-size: 10px;
        fill: $link_type;
      }

      &.max {
        path {
          stroke: $green;
        }

        .barLabel {
          fill: $green;
        }
      }

      &.min {
        path {
          stroke: $red;
        }

        .barLabel {
          fill: $red;
        }
      }
    }

    .grid {
      .tick {
        stroke: #E3E2DE;
        opacity: 0.5;
        shape-rendering: crispEdges;
      }

      path {
        stroke-width: 0;
        shape-rendering: crispEdges;
      }
    }
  }

}
