input.form-control {
  border: none;
  border-bottom: $line_gray 1px solid;
  background: none;
  box-shadow: none;
  color: $link_type;
  border-radius: 0;
  padding: 6px 0;

  &:focus {
    color: $highlight !important;
  }

  /* Input Placeholder styles */
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $link_type;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $link_type;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $link_type;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $link_type;
  }
}

.has-error input.form-control {
  color: $red;

  /* Input Placeholder styles */
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $red;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $red;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $red;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $red;
  }
}

.form-group:last-of-type {
  margin-bottom: 0;
}
