.licenseplus {
  min-width: 964px;
  margin: 0 30px;
  border-left: 1px solid $line_light_gray;
  border-right: 1px solid $line_light_gray;
  overflow: hidden;

  #licenseplusHeader {
    border-bottom: 1px solid $line_light_gray;
    padding: 15px 20px;
    overflow: hidden;

    h1 {
      font-size: 24px;
      color: $link_type;
      margin: 0;
    }

    .btn-complete {
      float: right;
      @include hr-image('../img/icon_check.png', '../img/icon_check@2x.png');
      background-repeat: no-repeat;
      background-position: left 12px center;
      padding-left: 32px;
    }
  }

  .licenseplusBody {
    overflow: hidden;
    border-bottom: 1px solid $line_light_gray;
  }

  .sectionHeader {
    padding: 10px 20px;
    margin: 0;
    font-size: 20px;
    border-bottom: 1px solid $line_light_gray;
    color: $link_type;
  }

  #leftColumn {
    margin: 0 320px 0 0;

    #progress {
      width: 50%;
      float: left;
      border-right: 1px solid $line_light_gray;

      h3 {
        color: $link_type;
        font-size: 14px;
        margin-top: 0;
      }

      .score {
        padding: 20px;
        text-align: center;

        .scoreContainer {
          @include hr-image('../img/ornament_scorecontainer.png', '../img/ornament_scorecontainer@2x.png');
          background-repeat: no-repeat;
          background-position: top center;
          height: 189px;

          svg {
            margin-top: 50px;
          }
        }

        .averageScore {
          font-size: 35px;
        }
      }

      .remaining {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid $line_light_gray;

        .timeRemaining {
          color: $link_type;
          font-size: 20px;
        }

        .timeRemainingBar {
          width: 250px;
          height: 16px;
          background-color: $disabled;
          border-radius: 8px;
          margin: 10px auto;
          overflow: hidden;

          .timeRemainingValue {
            width: 0;
            height: 16px;
            background-color: $green;
            float: left;
            -webkit-transition: width 1s ease-in-out;
            -moz-transition: width 1s ease-in-out;
            -o-transition: width 1s ease-in-out;
            transition: width 1s ease-in-out;
          }
        }
      }

      .medals {
        text-align: center;
        padding: 20px;
        overflow: hidden;
        border-bottom: 1px solid $line_light_gray;

        .medal {
          width: 33.3%;
          float: left;
          @include hr-image('../img/icon_medaltracking_empty.png', '../img/icon_medaltracking_empty@2x.png');
          background-repeat: no-repeat;
          background-position: top center;
          padding-top: 53px;
          text-transform: uppercase;
          font-size: 11px;
          color: $base_type;

          &.completed {
            cursor: pointer;
          }

          &.bronze {
            &.completed {
              @include hr-image('../img/icon_medaltracking_bronze.png', '../img/icon_medaltracking_bronze@2x.png');
            }
          }

          &.silver {
            &.completed {
              @include hr-image('../img/icon_medaltracking_silver.png', '../img/icon_medaltracking_silver@2x.png');
            }
          }

          &.gold {
            &.completed {
              @include hr-image('../img/icon_medaltracking_gold.png', '../img/icon_medaltracking_gold@2x.png');
            }
          }

        }
      }

      .duration {
        border-bottom: 1px solid $line_light_gray;
        text-align: center;
        padding: 20px;

        .startDate {
          color: $link_type;
          font-size: 20px;
        }

        .endDate {
          color: $link_type;
          font-size: 20px;
        }
      }

      .distance {
        text-align: center;
        padding: 20px;

        .milesDriven {
          color: $link_type;
          font-size: 20px;
        }
      }

      .completedMedal {
        text-align: center;
        padding: 20px;
        background-repeat: repeat-x;
        @include hr-image('../img/ornament-guilloche-white.png', '../img/ornament-guilloche-white@2x.png');
        
        .medalImage {
          height: 170px;
          width: 153px;
          @include hr-image('../img/medal_certificate.png', '../img/medal_certificate@2x.png');
          background-repeat: no-repeat;
          background-position: top center;
          margin: 0 auto 20px;
          cursor: pointer;
        }

        &.bronze {
          .medalImage {
            @include hr-image('../img/medal_bronze.png', '../img/medal_bronze@2x.png');
          }
        }

        &.silver {
          .medalImage {
            @include hr-image('../img/medal_silver.png', '../img/medal_silver@2x.png');
          }
        }

        &.gold {
          .medalImage {
            @include hr-image('../img/medal_gold.png', '../img/medal_gold@2x.png');
          }
        }

        .medalName {
          font-size: 20px;
          text-transform: uppercase;
        }

        .medalSubtitle {
          font-size: 14px;
        }

        .studentName {
          font-size: 20px;
          margin-top: 20px;
        }
      }

      .finalScore {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid $line_light_gray;

        .averageScore {
          font-size: 35px;
        }
      }
    }

    #badges {
      width: 50%;
      float: left;
      border-right: 1px solid $line_light_gray;

      .badgeList {
        padding: 20px 20px 0 20px;
      }

      .comingSoon {
        padding: 0 20px 20px 20px;
      }

      .badgeItem {
        position: relative;
        width: 100px;
        height: 160px;
        text-align: center;
        margin: 10px;
        float: left;
        cursor: pointer;
        @include hr-image('../img/badge-generic-small-inProgress.png', '../img/badge-generic-small-inProgress@2x.png');
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 85px;

        &.empty {
          cursor: auto;
        }

        .emptyBadge {
          width: 54px;
          height: 54px;
          border-radius: 27px;
          background-color: $disabled;
          position: absolute;
          top: 8px;
          left: 50%;
          margin-left: -27px;
        }

        &.completed {
          @include hr-image('../img/badge-generic-small.png', '../img/badge-generic-small@2x.png');
        }

        &.highway_driving {
          @include hr-image('../img/badge-highway-small-inProgress.png', '../img/badge-highway-small-inProgress@2x.png');

          &.completed {
            @include hr-image('../img/badge-highway-small.png', '../img/badge-highway-small@2x.png');
          }
        }

        &.night_driving {
          @include hr-image('../img/badge-night-small-inProgress.png', '../img/badge-night-small-inProgress@2x.png');

          &.completed {
            @include hr-image('../img/badge-night-small.png', '../img/badge-night-small@2x.png');
          }
        }

        &.smooth_braking {
          @include hr-image('../img/badge-braking-small-inProgress.png', '../img/badge-braking-small-inProgress@2x.png');

          &.completed {
            @include hr-image('../img/badge-braking-small.png', '../img/badge-braking-small@2x.png');
          }
        }

        &.smooth_acceleration {
          @include hr-image('../img/badge-accel-small-inProgress.png', '../img/badge-accel-small-inProgress@2x.png');

          &.completed {
            @include hr-image('../img/badge-accel-small.png', '../img/badge-accel-small@2x.png');
          }
        }

        &.coach_accepted {
          @include hr-image('../img/badge-coaching-small-inProgress.png', '../img/badge-coaching-small-inProgress@2x.png');

          &.completed {
            @include hr-image('../img/badge-coaching-small.png', '../img/badge-coaching-small@2x.png');
          }
        }
      }
    }
  }


  #rightColumn {
    margin: 0;

    #studentTrips {
      .tripsHeader {
        background-color: #fff;
        border-right: none;
        border-left: none;
      }

      .trips {
        border-right: none;
        border-left: none;
        min-height: 0;

        .loading {
          padding: 10px;
        }
      }
    }
  }
}
