#blurrydash {
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#login {
  position: relative;
  width: 575px;
  margin: 100px auto 0;
  background: #FFF;
  border-radius: 3px;
  @include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px $footer_bottom_line);
  margin-bottom: 60px;

  h1 {
    margin: 0 0 5px;
    font-size: 24px;
    line-height: 32px;
  }

  h2 {
    font-size: 16px;
    margin: 0;
    text-align: center;
  }

  .topBox {
    padding: 20px 30px;
    text-align: center;

    .btn {
      margin: 25px auto 15px;
      font-size: 16px;
      width: 275px;
      line-height: 20px;
      padding-top: 7px;
    }
  }

  .middleBox {
    padding: 20px 30px;
    background: $main_back;
    overflow: hidden;

    .graphicLink {
      margin-top: 33px;
      float: left;
      width: 128px;
      height: 143px;
      background-repeat: no-repeat;
      @include hr-image('../img/graphic_link2.png', '../img/graphic_link2@2x.png');
    }

    .featureList {
      font-size: 12px;
      margin-top: 20px;
      width: 275px;
      float: right;

      li {
        margin: 7px 0;
        height: 30px;
        line-height: 30px;
        padding-left: 50px;
        background-repeat: no-repeat;
      }

      .savebig {
        @include hr-image('../img/mktg_icon_savebig.png', '../img/mktg_icon_savebig@2x.png');
      }
      .crashalert {
        @include hr-image('../img/mktg_icon_crashalert.png', '../img/mktg_icon_crashalert@2x.png');
      }
      .check {
        @include hr-image('../img/mktg_icon_check.png', '../img/mktg_icon_check@2x.png');
      }
      .map {
        @include hr-image('../img/mktg_icon_map.png', '../img/mktg_icon_map@2x.png');
      }
    }
  }

  .bottomBox {
    padding: 20px 30px;
    overflow: hidden;

    .smallLogo {
      @include hr-image('../img/logo_automatic_sm.png', '../img/logo_automatic_sm@2x.png');
      background-repeat: no-repeat;
      height: 27px;
      float: left;
      width: 97px;
    }

    a {
      float: right;
      line-height: 27px;
    }
  }

  #loginForm {
    display: none;
    padding: 20px 30px 30px;
    text-align: center;

    .back {
      position: absolute;
      top: 26px;
      left: 30px;
      background-position: top 4px left;
      background-repeat: no-repeat;
      @include hr-image('../img/icon_tripnav_left_active.png', '../img/icon_tripnav_left_active@2x.png');
      padding-left: 14px;
      font-size: 14px;

      &:hover {
        @include hr-image('../img/icon_tripnav_left_hover.png', '../img/icon_tripnav_left_hover@2x.png');
      }
    }

    form {
      width: 300px;
      margin: 0 auto;
      margin-top: 30px;
      text-align: left;

      label {
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: normal;
      }

      .staySignedIn {
        margin-right: 10px;
        margin-bottom: 20px;
      }

      .alert {
        margin-bottom: 15px;
      }
    }

    .forgotPassword {
      margin-top: 20px;
    }
  }
}
