#login {
  width: 700px;
  margin: 50px auto;

  &.container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .row {
    margin-left: -30px;
    margin-right: -30px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  h1 {
    margin: 20px 0;
    font-size: 24px;
    line-height: 32px;
  }

  h2 {
    font-size: 16px;
    margin: 0;
  }

  a {
    font-size: 12px;
  }

  .topBox {
    background: #FFF;
    border-radius: 3px;
    @include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px #E3E2DE);
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 30px;

    .graphicComputer {
      height: 170px;
      @include hr-image('../img/graphic_computer.png', '../img/graphic_computer@2x.png');
      background-repeat: no-repeat;
    }

    .smallLogo {
      @include hr-image('../img/logo_automatic_sm.png', '../img/logo_automatic_sm@2x.png');
      background-repeat: no-repeat;
      height: 27px;
    }

    .btn {
      margin-top: 25px;
      font-size: 14px;
    }
  }

  #loginForm {
    label {
      font-size: 12px;
      margin-bottom: 10px;
      font-weight: normal;
    }

    .staySignedIn {
      margin-right: 10px;
    }

    .alert {
      margin-bottom: 15px;
    }
  }

  .forgotPasswordLink {
    display: inline-block;
    margin-top: 15px;
  }

  .featureList {
    font-size: 12px;
    margin-top: 20px;

    li {
      margin: 15px 0;
      height: 30px;
      line-height: 30px;
      padding-left: 50px;
      background-repeat: no-repeat;
    }

    .savebig {
      @include hr-image('../img/mktg_icon_savebig.png', '../img/mktg_icon_savebig@2x.png');
    }
    .crashalert {
      @include hr-image('../img/mktg_icon_crashalert.png', '../img/mktg_icon_crashalert@2x.png');
    }
    .check {
      @include hr-image('../img/mktg_icon_check.png', '../img/mktg_icon_check@2x.png');
    }
    .map {
      @include hr-image('../img/mktg_icon_map.png', '../img/mktg_icon_map@2x.png');
    }
  }
}
