.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;

	div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;
		text-align: center;
		border-radius: 15px;
		font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}

	span {
		line-height: 30px;
	}
}


#map {
  .map {
    width: 100%;
    height: 360px;
    position: relative;

		/* Popup Styles */
		.leaflet-popup-tip {
			border-top-color: $blue;
		}

		.leaflet-popup-content-wrapper {
			border: none;
			border-bottom: 2px solid $blue;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			background: #FFFFFF;
			-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px #E3E2DE;
			box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px #E3E2DE;
		}
  }

	.mapMenu {
		height: 40px;
		border: 1px solid $line_gray;
		background: $trip_list_back;

		.zoomControl {
			height: 24px;
			padding: 8px 0;
			float: left;

			& > div {
				float: left;
				width: 29px;
				text-align: center;
				font-size: 19px;
				font-weight: bold;
				line-height: 24px;
			}

			.zoomIn {
				border-right: 1px solid $line_gray;

			}
		}

		.tripEvents {
			width: 300px;
			float: right;
			border-left: 1px solid $line_gray;
			height: 40px;
			line-height: 40px;

			.showTripEvents {
				margin-left: 8px;
			}

			.tripEventsBox {
				float: right;
				width: 232px;
				padding: 7px;
			}
		}
	}
}
