#map {
  .map {
    width: 100%;
    min-height: 270px;
    position: relative;
    font-family: AvenirNextPro;

    .leaflet-control-attribution {
      font-size: 10px;

      a {
        color: rgba(0,0,0,0.5);
      }
    }

    /* Popup Styles */
    .leaflet-popup-tip {
      border-top-color: $blue;
    }

    .leaflet-popup-content-wrapper {
      border: none;
      border-bottom: 2px solid $blue;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background: $white;
      @include box-shadow(0px 0px 2px 0px rgba(0,0,0,0.15));
    }

    .leaflet-bottom {
      z-index: 0;
    }

    .leaflet-control {
      z-index: 0;
    }
  }

  .mapMenu {
    height: 40px;
    border-top: 1px solid $footer_top_line;
    border-bottom: 1px solid $footer_bottom_line;
    background: $white;
    @include box-shadow(0px -3px 2px -2px  rgba(0,0,0,0.07));
    overflow: hidden;
    position: relative;

    .zoomControl {
      height: 24px;
      padding: 8px 0;
      float: left;
      @include noSelection;

      .zoomIn,
      .zoomOut {
        float: left;
        width: 29px;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        line-height: 24px;
        cursor: pointer;
      }

      .zoomOut {
        border-left: 1px solid $line_light_gray;
      }

      .autoZoom {
        float: left;
        width: 100px;
        border-left: 1px solid $line_light_gray;
        padding-left: 8px;
        line-height: 24px;
      }
    }

    .mapMenuRight {
      width: 340px;
      float: right;
      border-left: 1px solid $line_light_gray;
      height: 40px;
      line-height: 40px;

      label {
        font-size: 10px;
        color: $link_type;
        font-weight: normal;
        margin-bottom: 0;
        vertical-align: top;
        @include noSelection;

        .showTripEvents {
          margin-left: 8px;
          margin-right: 3px;
          font-size: 12px;
          vertical-align: -1px;
        }
      }

      .tripEvents {
        float: right;
        padding: 7px;
        width: 285px;

        .event {
          &> div::after {
            margin-left: 8px;
            width: 51px;
          }
        }
      }
    }
  }

  .hardBrakeIcon {
    background: #D173EB;
    border-radius: 50%;
    border: 1px solid $white;
    @include box-shadow(0px 1px 0px 0px rgba(0,0,0,0.16));
  }

  .hardAccelIcon {
    background: #FAD97B;
    border-radius: 50%;
    border: 1px solid $white;
    @include box-shadow(0px 1px 0px 0px rgba(0,0,0,0.16));
  }
}
