#singleBadge {
  width: 390px;
  position: absolute;
  top: 55px;
  margin-left: -195px;
  left: 50%;
  z-index: 1002;

  .singleBadgeOverlay {
    background: #FFF;
    background-repeat: repeat-x;
    border-radius: 3px;
    @include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px $disabled);
    padding: 20px 20px 40px 20px;
    text-align: center;

    h1 {
      font-size: 20px;
      color: $link_type;
    }

    .badgeImage {
      margin-top: 20px;
      background-repeat: no-repeat;
      background-position: top center;
      height: 150px;
      @include hr-image('../img/badge-generic-big-inProgress.png', '../img/badge-generic-big-inProgress@2x.png');

      &.completed {
        @include hr-image('../img/badge-generic-big.png', '../img/badge-generic-big@2x.png');
      }

      &.highway_driving {
        @include hr-image('../img/badge-highway-big-inProgress.png', '../img/badge-highway-big-inProgress@2x.png');

        &.completed {
          @include hr-image('../img/badge-highway-big.png', '../img/badge-highway-big@2x.png');
        }
      }

      &.night_driving {
        @include hr-image('../img/badge-night-big-inProgress.png', '../img/badge-night-big-inProgress@2x.png');

        &.completed {
          @include hr-image('../img/badge-night-big.png', '../img/badge-night-big@2x.png');
        }
      }

      &.smooth_braking {
        @include hr-image('../img/badge-braking-big-inProgress.png', '../img/badge-braking-big-inProgress@2x.png');

        &.completed {
          @include hr-image('../img/badge-braking-big.png', '../img/badge-braking-big@2x.png');
        }
      }

      &.smooth_acceleration {
        @include hr-image('../img/badge-accel-big-inProgress.png', '../img/badge-accel-big-inProgress@2x.png');

        &.completed {
          @include hr-image('../img/badge-accel-big.png', '../img/badge-accel-big@2x.png');
        }
      }

      &.coach_accepted {
        @include hr-image('../img/badge-coaching-big-inProgress.png', '../img/badge-coaching-big-inProgress@2x.png');

        &.completed {
          @include hr-image('../img/badge-coaching-big.png', '../img/badge-coaching-big@2x.png');
        }
      }

      &.bronze {
        @include hr-image('../img/medal_tracking_bronze.png', '../img/medal_tracking_bronze@2x.png');
        height: 170px;

        &.completed {
          @include hr-image('../img/medal_bronze.png', '../img/medal_bronze@2x.png');
        }
      }

      &.silver {
        @include hr-image('../img/medal_tracking_silver.png', '../img/medal_tracking_silver@2x.png');
        height: 170px;

        &.completed {
          @include hr-image('../img/medal_silver.png', '../img/medal_silver@2x.png');
        }
      }

      &.gold {
        @include hr-image('../img/medal_tracking_gold.png', '../img/medal_tracking_gold@2x.png');
        height: 170px;

        &.completed {
          @include hr-image('../img/medal_gold.png', '../img/medal_gold@2x.png');
        }
      }
    }

    .badgeProgress {
      width: 170px;
      margin: 20px auto;
    }

    .badgeRequirements {
      width: 275px;
      margin: 20px auto;
    }

    &.bronze {
      @include hr-image('../img/ornament-guilloche-bronze.png', '../img/ornament-guilloche-bronze@2x.png');
    }

    &.silver {
      @include hr-image('../img/ornament-guilloche-silver.png', '../img/ornament-guilloche-silver@2x.png');
    }

    &.gold {
      @include hr-image('../img/ornament-guilloche-gold.png', '../img/ornament-guilloche-gold@2x.png');
    }
  }
}
