#trip {
  width: 750px;
  margin: 0 auto;
  overflow: visible;

  .tripHeader {
    text-align: center;
    font-size: 30px;
    position: relative;

    .btn {
      margin: 0 10px;
      position: relative;
    }

    .btn.back {
      top: 8px;
      left: 0;
      position: absolute;
      margin-left: 0;
    }

    .btn.share {
      top: 8px;
      right: 0;
      position: absolute;
      margin-right: 0;
    }

    .btn.noTrip {
      visibility: hidden;
    }
  }

  #map {
    position: relative;

    .map {
      height: 400px;
    }
  }
}
