
#trips {
  background: $trip_list_back;

  .tripsHeader {
    padding: 5px 10px;
    overflow: hidden;
    border-right: 1px solid $line_light_gray;
    border-left: 1px solid $line_light_gray;
    border-bottom: 1px solid $line_light_gray;

    .tripCount {
      float: left;
      display: inline-block;
      line-height: 25px;
      height: 25px;
      font-size: 14px;
      color: $link_type;
    }

    .sortType {
      float: right;
      line-height: 25px;
      color: $link_type;
      padding-right: 25px;
      background-position: right 5px center;
      background-repeat: no-repeat;
      @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
      cursor: pointer;

      &:hover {
        color: $highlight;
      }
    }

    .sortDirection {
      width: 17px;
      height: 25px;
      float: right;
      background-repeat: no-repeat;
      background-position: right top 6px;
      @include hr-image('../img/icon_sortdescending.png', '../img/icon_sortdescending@2x.png');
      cursor: pointer;

      &.sortUp {
        @include hr-image('../img/icon_sortascending.png', '../img/icon_sortascending@2x.png');
      }
    }

    .popover-content {
      min-width: 120px;
    }
  }

  .tripsFooter {
    border-top: 1px solid $footer_top_line;
    border-bottom: 1px solid $footer_bottom_line;
    height: 40px;
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.07), inset 0px 1px 0px 0px #FFFFFF;
    box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.07), inset 0px 1px 0px 0px #FFFFFF;
    background: $footer_back;

    .export {
      cursor: pointer;
      font-size: 12px;
      background-repeat: no-repeat;
      background-position: left 10px top 11px;
      display: inline-block;
      padding: 0 10px 0 36px;
      line-height: 40px;
      @include hr-image('../img/icon_export.png', '../img/icon_export@2x.png');

      &:hover {
        @include hr-image('../img/icon_export_hover.png', '../img/icon_export_hover@2x.png');
        color: $highlight;
      }
    }
  }

  .summaryStats {
    background-color: #fff;
    border-bottom: 1px solid $line_gray;
    padding: 5px 0;
    overflow: hidden;


    svg {
      position: relative;
      margin: 0 15px 0 10px;
      top: 3px;
      width: 40px;
      height: 40px;
    }

    .averageScore {
      font-size: 16px;
    }

    .stat {
      display: inline-block;
      width: 55px;
      vertical-align: 4px;
    }

    .value {
      color: $link_type;
      text-align: center;
      font-size: 14px;
    }

    .label {
      font-size: 10px;
      color: $base_type;
      text-transform: uppercase;
      font-weight: normal;
      text-align: center;
      display: block;
    }
  }

  ul.trips {
    height: 652px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;

    li {
      overflow: hidden;
      display: block;
      position: relative;
      border-top: 1px solid $line_light_gray;
      border-right: 1px solid $line_light_gray;
      border-left: 1px solid $line_light_gray;
      cursor: pointer;

      &:first-child {
        border-top: none;
      }

      .tripLink {
        display: none;
      }

      .timeTopBox, .timeBottomBox {
        position: absolute;
        font-size: 11px;
        left: 0;
        padding: 10px;
      }

      .timeTopBox {
        top: 0;

        .endDate {
          font-size: 10px;
        }
      }

      .timeBottomBox {
        bottom: 0;
      }

      .tripLine {
        @include box-sizing(border-box);
        position: absolute;
        width: 2px;
        height: 90%;
        background-color: $line_gray;
        left: 70px;
        top: 16px;
        height: 60px;
        transition: height 0.25s;
        transition-delay: 0.05s;
        transition-timing-function: ease-in-out;

        & > div {
          width: 10px;
          height: 10px;
          background-color: $line_gray;
          border-radius: 8px;
          margin-left: -4px;
          font-size: 10px;
          line-height: 10px;
          text-align: center;
          color: transparent;
          transition: width 0.25s, height 0.25s, margin-left 0.25s, color 0.25s, line-height 0.25s;
          transition-delay: 0.05s;
          transition-timing-function: ease-in-out;
        }

        & div:first-child {
          margin-top: -3px;
        }

        & div:last-child {
          position: absolute;
          bottom: -3px;
        }
      }

      &.selected,
      &:hover {
        background-color: #fff;

        .stat {
          color: $link_type;
        }

        .startLocation {
          color: $highlight;
        }

        .endLocation {
          color: $highlight;
        }

        .startTime {
          color: $link_type;
        }

        .endTime {
          color: $link_type;
        }

        .tripLine {
          background: $highlight;
          top: 14px;

          & > div {
            color: rgba(255, 255, 255, 1);
            background: $highlight;
            width: 15px;
            height: 15px;
            margin-left: -7px;
            line-height: 15px;
            padding: 1px;
          }
        }
      }

      &:hover{
        .tripLink {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 27px;
          height: 27px;
          @include hr-image('../img/icon_opentrip.png', '../img/icon_opentrip@2x.png');
          text-indent: -9999px;
        }

        .tripLine {
          height: 99px;
        }

        .tripEventsBox {
          height: 41px;
          opacity: 1;
          padding: 10px 0 5px 0;
        }
      }

      .tripDetails {
        display: block;
        width: 234px;
        float: right;
      }

      .middleBox {
        text-align: center;
        overflow: hidden;
      }

      .stat {
        width: 25%;
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: $base_type;

        &::after, &::before {
          font-size: 9px;
          font-weight: normal;
          display: inline;
          color: $base_type;
        }
      }

      .distance::after {
        content: 'MI';
      }

      .duration::after {
        content: ' MIN';
      }

      .mpg::after {
        content: ' MPG';
      }

      .fuelCost::before {
        content: '$';
      }

      .startLocation,
      .endLocation {
        font-size: 11px;
        padding: 10px 15px;
      }

      .tripEventsBox {
        overflow: hidden;
        overflow-y: hidden;
        height: 0px;
        opacity: 0;
        transition: height 0.25s ease-in-out 0.05s, padding 0.25s ease-in-out 0.05s, opacity 0.15s ease-in-out 0.3s;

        .hardBrakes {
          clear: both;
          margin-left: 10px;
        }

        .speeding {
          margin-left: 0;
        }

        .hardAccels {
          margin-left: 0;
        }
      }
    }
  }
}
