#trips {
  .tripsHeader {
    padding: 5px 10px;
    overflow: hidden;
    border-right: 1px solid $line_light_gray;
    border-left: 1px solid $line_light_gray;
    border-bottom: 1px solid $line_light_gray;

    .tripCount {
      float: left;
      display: inline-block;
      line-height: 25px;
      height: 25px;
      font-size: 14px;
      color: $link_type;
    }

    .sortType {
      float: right;
      line-height: 25px;
      color: $link_type;
      padding-right: 25px;
      background-position: right 5px center;
      background-repeat: no-repeat;
      @include hr-image('../img/icon_dropdown.png', '../img/icon_dropdown@2x.png');
      cursor: pointer;
      @include noSelection;

      &:hover {
        color: $highlight;
      }
    }

    .sortDirection {
      width: 17px;
      height: 25px;
      float: right;
      background-repeat: no-repeat;
      background-position: right top 6px;
      @include hr-image('../img/icon_sortdescending.png', '../img/icon_sortdescending@2x.png');
      cursor: pointer;
      @include noSelection;

      &.sortUp {
        @include hr-image('../img/icon_sortascending.png', '../img/icon_sortascending@2x.png');
      }
    }

    .popover-content {
      min-width: 120px;
    }
  }

  .tripsFooter {
    border-top: 1px solid $footer_top_line;
    border-bottom: 1px solid $footer_bottom_line;
    height: 40px;
    @include box-shadow(0px -3px 2px -2px rgba(0,0,0,0.07));
    background: $footer_back;
    font-size: 12px;
    line-height: 40px;

    .export {
      float: left;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: left 10px top 11px;
      display: inline-block;
      color: $link_type;
      padding: 0 10px 0 36px;
      @include hr-image('../img/icon_export.png', '../img/icon_export@2x.png');
      @include noSelection;

      &:hover {
        @include hr-image('../img/icon_export_hover.png', '../img/icon_export_hover@2x.png');
        color: $highlight;
      }
    }

    .deselectAll {
      display: none;
      float: right;
      cursor: pointer;
      padding: 0 10px 0 36px;
    }
  }

  #tripStats {
    background-color: $footer_back;
    border-bottom: 1px solid $line_light_gray;
    overflow: hidden;

    .someTrips {
      padding: 5px 0;

      svg {
        position: relative;
        margin: 0 15px 0 10px;
        top: 3px;
        width: 40px;
        height: 40px;
      }

      .averageScore {
        font-size: 16px;
      }

      .stat {
        display: inline-block;
        width: 55px;
        vertical-align: 4px;
      }

      .value {
        color: $link_type;
        text-align: center;
        font-size: 14px;
      }

      .label {
        font-size: 10px;
        color: $base_type;
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        display: block;
      }
    }

    .noTrips {
      display: none;

      .alert-grey {
        margin: 20px 60px;
        text-align: center;
      }
    }
  }

  .trips {
    min-height: 403px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid $line_light_gray;
    border-left: 1px solid $line_light_gray;

    ul {
      margin: 0;
      height: 0;

      li {
        display: block;
        position: relative;
        border-bottom: 1px solid $line_light_gray;
        cursor: pointer;


        &:hover {
          border-bottom-color: $line_gray;
        }

        .tripLink {
          display: none;
        }

        .timeBox {
          position: absolute;
          font-size: 11px;
          left: 0;
          top: 0;
          height: 100%;
          padding: 10px;
          font-family: AvenirNextLTPro-Thin;

          .startTime {
            bottom: 10px;
            position: absolute;
          }
        }

        .tripLine {
          @include box-sizing(border-box);
          position: absolute;
          width: 2px;
          height: 90%;
          background-color: $line_gray;
          left: 70px;
          top: 15px;
          height: 61px;
          transition: height 0.25s, top 0.25s;
          transition-delay: 0.05s;
          transition-timing-function: ease-in-out;

          & > div {
            width: 10px;
            height: 10px;
            background-color: $line_gray;
            border-radius: 8px;
            margin-left: -4px;
            font-size: 10px;
            line-height: 10px;
            text-align: center;
            color: transparent;
            transition: width 0.25s, height 0.25s, margin-left 0.25s, color 0.25s, line-height 0.25s;
            transition-delay: 0.05s;
            transition-timing-function: ease-in-out;
          }

          & div:first-child {
            margin-top: -3px;
          }

          & div:last-child {
            position: absolute;
            bottom: -3px;
          }
        }

        .tripDetails {
          margin-left: 88px;
        }

        .middleBox {
          overflow: hidden;
        }

        .stat {
          width: 25%;
          float: left;
          font-size: 14px;
          font-weight: 400;
          color: $base_type;

          &::after, &::before {
            font-size: 9px;
            font-weight: normal;
            display: inline;
            color: $base_type;
          }
        }

        .distance::after {
          content: 'MI';
        }

        .duration::after {
          content: ' MIN';
        }

        .duration.hours::after {
          content: ' H';
        }

        .mpg::after {
          content: ' MPG';
        }

        .fuelCost::before {
          content: '$ ';
        }

        .location {
          font-size: 12px;
          padding: 10px 0;
          margin-right: 15px;
          white-space: nowrap;
          overflow: hidden;
          font-family: AvenirNextLTPro-Thin;
          height: 37px;
        }

        .tripEvents {
          overflow: hidden;
          height: 0;
          opacity: 0;
          transition: height 0.25s ease-in-out 0.05s, padding 0.25s ease-in-out 0.05s, opacity 0.15s ease-in-out 0.3s;
        }

        &.selected,
        &:hover {
          background-color: #fff;

          .stat {
            color: $link_type;
          }

          .startTime {
            color: $link_type;
          }

          .endTime {
            color: $link_type;
          }

          .tripLine {
            top: 12px;

            & > div {
              color: rgba(255, 255, 255, 1);
              width: 15px;
              height: 15px;
              margin-left: -7px;
              line-height: 15px;
              padding: 1px;
            }
          }
        }

        &.selected {

          .location {
            color: $selected;
          }

          .timeBox {
            border-left: 2px solid $selected;
          }

          .tripLine {
            height: 108px !important;
            background: $selected;

            & > div {
              background: $selected;
            }
          }

          .tripEvents {
            height: 41px;
            opacity: 1;
            padding: 10px 0 5px 0;
          }
        }

        &:hover{
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          margin-left: -1px;
          margin-right: -1px;

          .location {
            color: $highlight;
          }

          .tripLink {
            display: block;
            position: absolute;
            top: -1px;
            right: -1px;
            width: 27px;
            height: 27px;
            @include hr-image('../img/icon_opentrip.png', '../img/icon_opentrip@2x.png');
            text-indent: -9999px;
          }

          .tripLine {
            background: $highlight;
            height: 67px;

            & > div {
              background: $highlight;
            }
          }
        }
      }
    }
  }
}


body.noMatchingTrips #trips #tripStats {
  .noTrips {
    display: block;
  }

  .someTrips {
    display: none;
  }
}
