
.tripEventsBox {
  .event {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    float: left;
    position: relative;
    color: transparent;
    line-height: 27px;
    margin-right: 48px;

    &::after {
      font-size: 10px;
      line-height: 11px;
      font-weight: normal;
      position: absolute;
      left: 25px;
      text-align: left;
      margin-left: 2px;
      color: $base_type;
      width: 39px;
      padding-top: 2px;
    }

    &.blank {
      color: $link_type;
    }
  }

  .hardBrakes {
    @include hr-image('../img/event_nohardbrakes_color.png', '../img/event_nohardbrakes_color@2x.png');
    color: #FFF;

    &.none {
      @include hr-image('../img/event_nohardbrakes_green.png', '../img/event_nohardbrakes_green@2x.png');
      color: transparent;

      &::after {
        content: 'No Hard Brakes';
      }
    }

    &.blank {
      @include hr-image('../img/event_nohardbrakes_grey.png', '../img/event_nohardbrakes_grey@2x.png');
    }

    &::after {
      content: 'Hard Brakes';
    }
  }

  .speeding {
    @include hr-image('../img/event_under70_color.png', '../img/event_under70_color@2x.png');
    color: $link_type;
    margin-left: 10px;

    &.none {
      @include hr-image('../img/event_under70_green.png', '../img/event_under70_green@2x.png');
      color: transparent;

      &::after {
        content: 'Under 70 MPH';
      }
    }

    &.blank {
      @include hr-image('../img/event_under70_grey.png', '../img/event_under70_grey@2x.png');
    }

    &::after {
      content: 'Min Over 70 MPH';
      width: 45px;
    }
  }

  .hardAccels {
    @include hr-image('../img/event_nohardaccel_color.png', '../img/event_nohardaccel_color@2x.png');
    color: $link_type;
    margin-left: 10px;

    &.none {
      @include hr-image('../img/event_nohardaccel_green.png', '../img/event_nohardaccel_green@2x.png');
      color: transparent;

      &::after {
        content: 'No Hard Accels';
      }
    }

    &.blank {
      @include hr-image('../img/event_nohardaccel_grey.png', '../img/event_nohardaccel_grey@2x.png');
    }

    &::after {
      content: 'Hard Accels';
    }
  }
}
