@import "compass/css3";
@import "compass/utilities/sprites";

@import "bootstrap_min";

@mixin hr-image($lr-image, $hr-image) {
  background-image: url($lr-image);
  @media print,
         (-webkit-min-device-pixel-ratio: 1.25),
         (-o-min-device-pixel-ratio: 5/4),
         (min-resolution: 120dpi) {
    background-image: url($hr-image);
    background-size: image-width($lr-image) image-height($lr-image);
  }
}

$main_back: #F9F8F6;
$header_back: #F1EFEB;
$trip_list_back: #FBFAF9;

$green: #77CB49;
$red: #F63C39;
$blue: #5db2ef;

$base_type: #8D989F;
$inactive_type: #BBC8CF;
$link_type: #596064;
$highlight: #4AB4F0;

$trip_line_blue: #08b1d5;
$line_gray: #D8D8D8;
$line_light_gray: #EDECE9;

@import "bootstrap_datepicker3";

@import "fonts";
@import "base";
@import "popover";
@import "button";
@import "slider";
@import "overlay";
@import "header";
@import "login";
@import "map";
@import "graph";
@import "tripList";
@import "filters";
