@import "compass/css3";
@import "compass/utilities/sprites";

@import "bootstrap_min";

$main_back   :  #F9F8F6;
$header_back :  #F1EFEB;

$green  :  #77CB49;
$red    :  #F63C39;
$blue   :  #5db2ef;

$base_type: #8D989F;
$inactive_type: #c0ccd4;
$link_thype: #596064;

// TODO: replace these variables with names
// above thisline

$font_light: #a6a6a2;
$font_medium: #7f7b79;
$font_dark: #838c93;

$trip_line_blue: #08b1d5;
$trip_line_gray: #ddd;

@import "base";
@import "map";
@import "graph";
@import "tripList";
@import "filters";
