.wrapper {
  margin: 0 10px;
}

.error {
  margin-top: 1em;
  color: #800;
}

.graphs {
  display: none;
  text-align: center;
}

.graph-canvas,
.graph-svg {
  display: block;
  width: 400px;
  height: 300px;
  margin: 10px 0;
}

.graph-section {
  display: inline-block;
  width: 400px;
  margin: 20px 30px;
  vertical-align: top;
}

.modal .modal-dialog {
  height: auto;
  padding-bottom: 60px;
}

.btn-select {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}

.btn-disabled {
  opacity: 0.5;
  cursor: default;
}
