html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

select {
  margin-right: 10px;
}

.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.tabs {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.tab {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  background: white;
  margin-right: 8px;
  border-radius: 4px 4px 0 0;
  color: #888;
}

.tab.selected {
  font-weight: bold;
  border-bottom-color: white;
  color: black;
}

.error {
  margin-top: 1em;
  color: #800;
}

.graphs {
  display: none;
}

.heatmap-svg {
  display: none;
  position: relative;
  margin: 10px 0;
  font-size: 12px;
}

.right-heatmap {
  left: 30px; // See updateSize() in heatmap.js for a related gutter variable
}

.graph-section {
  display: inline-block;
  width: 400px;
  margin: 20px 30px;
  vertical-align: top;
}

.for-graph {
  display: none;
}

.for-heatmap {
  display: none;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px 6px;
}

/* TOGGLES */

.toggle {
  position: relative;
  color: #ccc;
  cursor: pointer;
  padding: 4px 12px;
}

.toggle-row {
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f4f4f4;
}

.heatmap-mode-toggle {
  left: 1px;
}

.graph-mode-toggle {
  left: -1px;
}

/* 2D GRAPHS */
.graph-svg {
  display: none;
  width: 100%;
  margin: 10px 0;
  font-size: 12px;
}

.axis path {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: none;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: #888;
}

.axis.horizontal .tick:nth-last-child(2) text {
  /* We do this so the rightmost tick number isn't half cutoff (outside the SVG) */
  text-anchor: end !important;
}

/* COMPARISONS */
.comparison-content {
  display: flex;
}

.comparison-text {
  flex-basis: 50%;
  padding-right: 40px;
}

.comparison .table {
  flex-basis: 50%;
  white-space: nowrap;
  padding-left: 18px; // See updateSize() in heatmap.js for a related gutter variable
}

.comparison .row {
  display: table-row;
}

.comparison .key {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}

.comparison .graph {
  display: table-cell;
  width: 500px;
  padding: 0 0 16px 0;
}

.comparison .bar {
  height: 10px;
  margin-bottom: 4px;
}

.comparison .single {
  background: #0bf;
}

.comparison .group {
  background: #f8f;
}

/* INSIGHTS */
.insights {
  display: flex;
}

.left-insight {
  flex-basis: 50%;
  vertical-align: top;
}

.right-insight {
  flex-basis: 50%;
  vertical-align: top;
  padding-left: 18px; // See updateSize() in heatmap.js for a related gutter variable
}

/* CONTROLS */
.left-controls {
  display: inline-block;
  width: 50%;
}

.right-controls {
  display: inline-block;
  padding-left: 18px; // See updateSize() in heatmap.js for a related gutter variable
}

.swatch {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.your-swatch {
  background: #0bf;
}

.group-swatch {
  background: #f8f;
}

/* VEHICLE PICKER MODAL */
.modal .modal-dialog {
  width: 900px;
  height: auto;
  padding: 20px 30px 70px 30px;
  margin-top: 150px;
}

.btn-select {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
}

.btn-disabled {
  opacity: 0.5;
  cursor: default;
}

.select-row {
  margin: 10px 0;
}

.modal .top-section {
  display: flex;
}

.modal .section {
  flex-grow: 1;
  flex-basis: 10px;
}

.modal .section:last-child {
  border-left: 1px dotted #ccc;
  padding-left: 20px;
}

.modal .note {
  font-size: 12px;
  margin-top: 2em;
  color: #888;
}

/* FAQ */
.faq-title {
  font-size: 40px;
}

.question {
  background: rgb(253, 253, 253);
  padding: 10px 30px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;
  margin-bottom: 20px;
}

.question .open-control {
  float: right;
  padding: 10px 0;
  cursor: pointer;
}

.question .open-control:hover {
  color: rgb(124, 193, 68);
}

.question h3 {
  line-height: 40px;
  margin: 0;
  cursor: pointer;
}

.question .answer {
  display: none;
}

/* MODES */
.heatmap-mode .heatmap-svg {
  display: inline-block;
}

.heatmap-mode .heatmap-mode-toggle {
  font-weight: bold;
  color: black;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
}

.heatmap-mode .graph-mode-toggle {
  padding-right: 4px;
}

.heatmap-mode .for-heatmap {
  display: block;
}

.graph-mode .graph-svg {
  display: block;
}

.graph-mode .graph-mode-toggle {
  font-weight: bold;
  color: black;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
}

.graph-mode .heatmap-mode-toggle {
  padding-left: 4px;
}

.graph-mode .for-graph {
  display: block;
}

