html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

select {
  margin-right: 10px;
}

.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.tabs {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.tab {
  display: inline-block;
  position: relative;
  top: 0.5px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  background: white;
  margin-right: 8px;
  border-radius: 4px 4px 0 0;
  color: #888;
}

.tab.selected {
  font-weight: bold;
  border-bottom-color: white;
  color: black;
}

.error {
  margin-top: 1em;
  color: #800;
}

.graphs {
  display: none;
}

.graph-canvas,
.graph-svg {
  display: none;
  width: 400px;
  height: 300px;
  margin: 10px 0;
}

.graph-section {
  display: inline-block;
  width: 400px;
  margin: 20px 30px;
  vertical-align: top;
}

.modal .modal-dialog {
  height: auto;
  padding-bottom: 60px;
}

.btn-select {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}

.btn-disabled {
  opacity: 0.5;
  cursor: default;
}

.toggle {
  color: #888;
  cursor: pointer;
}

.toggle-row {
  margin-bottom: 20px;
}

.heatmap-mode .graph-canvas {
  display: inline-block;
}

.heatmap-mode .heatmap-mode-toggle {
  font-weight: bold;
  color: black;
}

.graph-mode .graph-svg {
  display: block;
}

.graph-mode .graph-mode-toggle {
  font-weight: bold;
  color: black;
}
