<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="Automatic upgrades your car to a connected car. Automatic Dashboard allows you to analyze your driving data to improve your mpg, export trips, and more.">
    <meta name="viewport" content="width=320, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    {% for css in cssPaths %}
      <link rel="stylesheet" href="{{ css | safe }}">
    {% endfor %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% for js in jsPaths %}
      <script src="{{ js | safe }}"></script>
    {% endfor %}
  </body>
</html>
