.alert-grey {
  padding: 3px 15px 1px;
  border: none;
  border-radius: 9px;
  background: $inactive_type;
  list-style-type: none;
  min-height: 18px;
  color: $white;
  font-size: 12px;
  line-height: 14px;

  a {
    color: $white;
  }
}
