.btn {
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  user-select: none;

  &.no-hover {
    cursor: auto;
  }
}

.btn-blue {
  background-color: #82C9F1;
  box-shadow: 0px 1px 0px 0px $highlight;
  color: $white;

  &:hover {
    background-color: $highlight;
    color: $white;
  }

  &:active {
    background-color: #297FB8;
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &.no-hover {
    &:hover,
    &:active {
      background-color: $highlight;
      box-shadow: none;
    }
  }
}

.btn-grey {
  background-color: $header_back;
  color: $link_type;

  &:hover {
    background-color: #E5E4E1;
  }

  &:active {
    background-color: $line_gray;
  }

  &.no-hover {
    &:hover,
    &:active {
      background-color: $header_back;
      box-shadow: none;
    }
  }
}

.btn-white {
  background-color: $white;
  color: $highlight;
  box-shadow: 0px 1px 0px 0px #227EBA;

  &:hover {
    background-color: $main_back;
    color: $highlight;
  }

  &.no-hover {
    &:hover,
    &:active {
      background-color: $white;
      color: $highlight;
    }
  }
}

.btn-filter {
  background-color: $header_back;
  background-repeat: no-repeat;
  height: 28px;
  line-height: 15px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  padding: 9px 5px;
  color: $link_type;

  &:hover {
    background-color: $white;
    color: $highlight;
    box-shadow: 0px 1px 0px 0px $disabled;
  }

  &.disabled {
    cursor: auto;
    color: $disabled_type;

    &:hover {
      background-color: $header_back;
      box-shadow: inherit;
    }
  }

  i {
    line-height: 0.6em;
  }
}
