/* Overrides styles for datepicker */

.datepicker {
  color: $base_type;
  border: 0;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.15);

  .datepicker__header {
    background: $header_back;
    border-bottom: 0;
  }

  .datepicker__day {
    color: $base_type;
  }

  .datepicker__current-month {
    color: $base_type;
  }

  .datepicker__day--selected {
    background-color: $highlight;
    color: $white;
  }

  .datepicker__navigation--previous {
    border-right-color: $highlight;
  }

  .datepicker__navigation--next {
    border-left-color: $highlight;
  }
}

.tether-element-attached-top .datepicker__triangle:before,
.tether-element-attached-bottom .datepicker__triangle:before {
  border: 0;
}
