.graph {
  position: relative;
  height: 226px;

  .graph-menu {
    .date-range {
      float: left;
      display: inline-block;
      line-height: 25px;
      margin-top: 10px;
    }

    .graph-type-label {
      float: left;
      margin-left: 35px;
      margin-top: 12px;
    }

    .graph-type {
      float: left;
      margin-left: 8px;
      margin-top: 10px;
      @extend .blue-dropdown;
    }

    .popover-content {
      min-width: 100px;
    }
  }

  .graph-averages {
    float: right;
    position: relative;

    .graph-averages-label {
      text-align: right;
      font-size: 12px;
      display: inline-block;
      padding-right: 5px;
      vertical-align: bottom;
    }

    .graph-averages-value {
      font-size: 24px;
      display: inline-block;
      color: $link_type;
      vertical-align: bottom;
      padding-right: 5px;
      padding-top: 10px;
      line-height: 21px;
    }

    .graph-averages-unit {
      font-size: 12px;
      display: inline-block;
      vertical-align: bottom;
    }

    .graph-averages-background {
      font-size: 78px;
      line-height: 70px;
      color: $header_back;
      position: absolute;
      top: 0;
      right: -5px;
      z-index: -10;
      text-transform: uppercase;
      @include noSelection;
    }
  }

  .graph-tooltip {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;

    .graph-tooltip-container {
      padding: 15px;
      min-width: 65px;
      height: 76px;
      border-radius: 3px;
      background: $white;
      @include box-shadow(0px 0px 2px 0px rgba(0,0,0,0.15));
      text-align: center;
      border-bottom: 2px solid $blue;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
      left: -50%;

      .date {
        font-size: 10px;
        text-transform: uppercase;
        padding-bottom: 6px;
      }

      .value {
        color: $link_type;
        font-size: 24px;
      }

      .arrow {
        border-color: transparent;
        border-top-color: $blue;
        left: 50%;
        margin-left: -11px;
        border-bottom-width: 0;
        bottom: -11px;
        border-width: 11px;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
  }

  .graph-container {
    white-space: nowrap;
    padding-top: 35px;

    rect.graphGradient {
      fill: url(#graphGradient);
    }

    text {
      fill: $base_type;
    }

    g.bar {
      path.bar-background {
        fill: $white;
      }

      path.bar-outline {
        stroke: $graph_outline;
        fill: transparent;
        //shape-rendering: crispEdges;

        &:hover {
          stroke: #3FA6E0;
        }
      }

      rect.invisible-hover {
        fill:transparent;
        cursor: auto;
      }

      &.selected path.bar-background {
        fill: #297FB8;
      }

      &.selected path.bar-outline {
        stroke: #297FB8;
      }

      &:hover path.bar-background,
      &.highlighted path.bar-background {
        fill: #82C9F1;
      }

      &:hover path.bar-outline,
      &.highlighted path.bar-outline {
        stroke: #3FA6E0;
      }

      text {
        font-size: 10px;
        fill: $link_type;

        &.tickLabel {
          font-size: 11px;
          fill: $base_type;
          text-transform: uppercase;
          text-anchor: middle;

          &.empty {
            fill: $inactive_type;
          }
        }

        &.axisLabel {
          text-transform: uppercase;
          font-size: 12px;
          fill: $base_type;
          text-anchor: right;
        }
      }
    }

    .mpg {
      .max {
        path.bar-outline {
          stroke: $green;
        }

        .bar-label {
          fill: $green;
        }
      }

      .min {
        path.bar-outline {
          stroke: $red;
        }

        .bar-label {
          fill: $red;
        }
      }
    }

    .cost,
    .distance,
    .duration {
      .max,
      .min {
        path.bar-outline {
          stroke: $base_type;
        }

        .bar-label {
          fill: $base_type;
        }
      }
    }

    .grid {
      .tick {
        stroke: $line_light_gray;
        opacity: 0.5;
        shape-rendering: crispEdges;
      }

      path {
        stroke-width: 0;
        shape-rendering: crispEdges;
      }
    }

    .x.axis {
      stroke: $line_gray;
      shape-rendering: crispEdges;
    }
    .x.axis.background {
      stroke: transparent;
      fill: $main_back;
    }
  }
}
