input.form-control {
  border: none;
  border-bottom: $line_gray 1px solid;
  background: none;
  box-shadow: none;
  color: $link_type;
  border-radius: 0;
  padding: 6px 0;

  &:focus {
    color: $highlight !important;
    box-shadow: none;
  }

  &::placeholder {
    color: $link_type;
    opacity:  1;
  }
}

.has-error input.form-control {
  color: $red;
  border-color: $red;
  box-shadow: none;

  &::placeholder {
    color: $red;
    opacity:  1;
  }
}

.form-group:last-of-type {
  margin-bottom: 0;
}
