.labs {
  max-width: 780px;
  margin: 0 auto;
  min-height: 78px;
  box-sizing: border-box;
  padding: 25px 30px;

  .pageTitle {
    font-size: 18px;
    margin: 0 0 15px;
  }

  .labsList {
    li {
      border-top: 1px solid $line_light_gray;
      clear: both;
      overflow: hidden;

      &:last-child {
        border-bottom: 1px solid $line_light_gray;
      }

      .labsLink {
        padding: 15px 10px;
        display: block;
        overflow: hidden;
      }

      .labsLink:hover  {
        background: $header_back;
      }

      .labsIcon {
        width: 80px;
        height: 80px;
        float: left;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 80px;
          height: 80px;
        }
      }

      .labsTitle {
        font-size: 16px;
        margin: 10px 0 0 95px;
      }

      .labsDescription {
        margin: 10px 0 0 95px;
      }
    }
  }
}
