.modal-dialog {
  h2 {
    margin: 0;
    font-size: 16px;
    color: $link_type;
  }

  .modal-content {
    @include box-shadow(0px 1px 2px 0px rgba(0,0,0,0.15), 0px 1px 0px 0px $disabled);
    background-color: $white;
    border: 0;
  }

  .close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: $disabled_type;
    border-radius: 12px;
    opacity: 0.8;
    text-indent: -9999px;
    @include hr-image('../images/icon_close_x', 'png', 10px, 10px);
    background-position: center;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-color: $link_type;
    }
  }
}

.modal-backdrop {
  background-color: rgb(249, 248, 246);

  &.in {
    opacity: 0.85;
  }
}

.trip-modal .modal-dialog {
  width: 690px;

  .modal-body {
    padding: 10px 10px 0 10px;
  }
}

.export-modal {
  .modal-dialog {
    width: 380px;
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .csv-icon {
    @include hr-image('../images/icon_csv', 'png', 80px, 80px);
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
  }
}

.support-modal {
  .modal-dialog {
    width: 700px;
    height: 535px;
  }


  #getsat-widget-7392 {
    height: 513px;
    overflow-y: scroll;
  }
}

.loading-modal {
  .modal-dialog {
    margin-top: 200px;
    width: 271px;

    .modal-body {
      background: url('../images/loader@2x.gif') left 30px center no-repeat;
      background-size: 80px 33px;
      font-size: 14px;
      height: 93px;
      padding: 25px 10px 10px 130px;
    }
  }
}

.unsupported-browser {
  margin: 0 auto;
  text-align: center;
  width: 500px;

  .supported-browsers a {
    display: inline-block;
    padding: 15px 4px 0;
  }
}
