#overlay{
  #overlayContent {
    .bigAlert {
      @include hr-image('../images/icon_bigalert', 'png', 235px, 144px);
      background-repeat: no-repeat;
      background-position: center top;
      height: 144px;
      margin: 25px 0;
    }

    .noTripsIcon {
      @include hr-image('../images/icon_notrips', 'png', 80px, 80px);
      width: 80px;
      height: 80px;
      float: left;
      margin-right: 20px;
    }

    &.loadingTrips {
      background: $white url('../images/loader@2x.gif') left 30px center no-repeat;
      background-size: 80px 33px;
      text-align: right;
      display: block;
      font-size: 14px;
    }

    &.notSupported {
      width: 380px;
      height: 375px;
      top: 106px;
      margin-left: -190px;
      display: block;

      .supportedBrowsers a {
        display: inline-block;
        padding: 15px 4px 0;
      }
    }

    &.error403,
    &.error500 {
      display: block;
      width: 380px;
      height: 400px;
      top: 106px;
      margin-left: -190px;
    }

    &.noTrips {
      display: block;
      width: 380px;
      height: inherit;
      top: 106px;
      margin-left: -190px;

      h2 {
        margin-bottom: 20px;
      }

      p {
        text-align: left;
        padding-top: 5px;
        padding-bottom: 15px;
      }
    }

    &.invalidTrip {
      display: block;
      width: 380px;
      height: inherit;
      top: 106px;
      margin-left: -190px;

      .btn-blue {
        margin-top: 35px;
      }
    }
  }
}
