.trip-stats {
  background-color: $white;
  border-bottom: 1px solid $line_light_gray;
  overflow: hidden;

  .stat {
    display: inline-block;
    margin: 0 3px;
    width: 55px;
    vertical-align: 8px;
  }

  .value {
    color: $link_type;
    text-align: center;
    font-size: 14px;
  }

  .label {
    font-size: 10px;
    color: $base_type;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    display: block;
  }

  .alert-grey {
    margin: 18px 60px;
    text-align: center;
  }
}

.score-chart {
  display: inline-block;
  margin: 7px 21px 5px 10px;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;

  .pie-big-circle{
    fill: rgb(227, 226, 222)
  }

  .pie-small-circle{
    fill: $white
  }

  .pie-text {
    font-size: 15px;
  }
}
