.trip-modal {
  .trip-navigation {
    text-align: center;
    position: relative;
    @include noSelection;

    .title {
      line-height: 21px;
    }

    .prev-trip,
    .next-trip {
      text-indent: -9999px;
      width: 8px;
      display: inline-block;
      background-position: top 4px left;
      background-repeat: no-repeat;
      cursor: pointer;
      vertical-align: top;

      &.disabled {
        cursor: default;
        pointer-events: none;
      }
    }

    .prev-trip {
      @include hr-image('../images/icon_tripnav_left_active', 'png', 8px, 10px);
      margin-right: 10px;

      &:hover {
        @include hr-image('../images/icon_tripnav_left_hover', 'png', 8px, 10px);
      }

      &.disabled {
        @include hr-image('../images/icon_tripnav_left_inactive', 'png', 8px, 10px);
      }
    }

    .next-trip {
      @include hr-image('../images/icon_tripnav_right_active', 'png', 8px, 10px);
      margin-left: 10px;

      &:hover {
        @include hr-image('../images/icon_tripnav_right_hover', 'png', 8px, 10px);
      }

      &.disabled {
        @include hr-image('../images/icon_tripnav_right_inactive', 'png', 8px, 10px);
      }
    }
  }

  .trip-details {
    overflow: hidden;

    .trip-header {
      padding: 5px 20px 20px 20px;
      border-bottom: 1px solid $line_light_gray;
      font-size: 12px;
      overflow: hidden;

      .start {
        width: 300px;
        background-repeat: no-repeat;
        float: left;
        min-height: 34px;
        text-align: left;
        padding-left: 25px;
        @include hr-image('../images/tripview_a', 'png', 15px, 21px);
        background-position: left top 4px;
      }

      .end {
        width: 300px;
        background-repeat: no-repeat;
        float: right;
        min-height: 34px;
        text-align: right;
        padding-right: 25px;
        @include hr-image('../images/tripview_b', 'png', 15px, 21px);
        background-position: right top 4px;
      }

      .location {
        color: $highlight;
      }
    }


    .trip-stats {
      border-bottom: 0;
      padding: 10px;
      float: left;
      width: 500px;

      .stat {
        float: left;
        text-align: center;
        display: inline-block;
        margin: 0 34px;
        width: 62px;
        overflow: hidden;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .value {
          font-size: 16px;
          color: $link_type;
        }

        label {
          font-size: 10px;
          color: $base_type;
          text-transform: uppercase;
          font-weight: normal;
          text-align: center;
        }
      }
    }

    .trip-tag {
      @include hr-image('../images/icon_trip_modal_tag', 'png', 40px, 40px);
      background-color: #CACBCB;
      background-position: center right 5px;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      border-radius: 40px;
      border: 0;
      cursor: pointer;
      float: right;
      height: 40px;
      margin-top: 10px;
      opacity: 1;
      outline: none;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 40px;
      padding-left: 10px;

      &:hover {
        opacity: .8;
      }

      &.tagged {
        background-color: #FFC400;
      }

      .label {
        color: white;
        font-size: 12px;
      }
    }
  }

  .map {
    .map-container {
      border-top: 1px solid $footer_top_line;
      height: 400px;
    }

    .map-menu {
      border-bottom: none;

      .map-menu-right {
        border-left: none;
      }
    }
  }
}
