.wrapper {
  width: 800px;
  margin: 0 auto;
}

.trip {
  overflow: hidden;
  background: #F4F4F4;
  margin: 25px 0;
  padding: 10px 15px;
  color: #777;
}

.trip:hover {
  background: #e3e3e3;
}

.trip .times {
  width: 75px;
  float: left;
  font-size: 12px;
  padding: 0 35px 0 0;
  position: relative;
  text-align: right;
}

.trip .duration {
  margin-top: 17px;
  font-weight: bold;
}

.trip .start-time {
  margin-top: 20px;
}

.trip .trip-line {
  position: absolute;
  width: 6px;
  height: 110px;
  background-color: #08b1d5;
  right: 0px;
  top: 6px;
}

.trip .trip-line div {
  width: 18px;
  height: 18px;
  background-color: #08b1d5;
  border-radius: 9px;
  margin-left: -6px;
}

.trip .trip-line div:first-child {
  margin-top: -3px;
}

.trip .trip-line div:last-child {
  position: absolute;
  bottom: 0;
}

.trip .locations {
  float: left;
  width: 390px;
  padding-left: 20px;
}

.trip .start-address,
.trip .end-address {
  font-size: 18px;
  white-space: nowrap;
}

.trip .trip-stats {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 5px 0;
  overflow: hidden;
}

.trip .distance {
  width: 25%;
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.trip .distance::after {
  content: ' MILES';
  font-size: 14px;
  font-weight: normal;
}

.trip .mpg {
  width: 33%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.trip .mpg::after {
  content: ' MPG';
  font-size: 14px;
  font-weight: normal;
}

.trip .fuel-cost {
  width: 41%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.trip .fuel-cost::before {
  content: '$';
  font-size: 14px;
  font-weight: normal;
  padding-right: 4px;
  vertical-align: 9px;
}

.trip .fuel-cost::after {
  content: ' FUEL';
  font-size: 14px;
  font-weight: normal;
}

.btn-hyperlapse {
  margin-top: 36px;
  float: right;
  background:
}

.pano {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: black;
  height: 100%;
  width: 100%;
  display: none;
}

.pano .pano-title {
  position: absolute;
  top: 80px;
  left: 30px;
  color: white;
  font-size: 20px;
}

.pano .pano-title-share {
  position: absolute;
  top: 10px;
  left: 30px;
  color: white;
  font-size: 20px;
  margin-right: 150px;
}

.pano .btn i {
  top: 3px;
  padding-right: 12px;
}

.pano .btn-close {
  position: absolute;
  top: 10px;
  left: 10px;
}

.pano .btn-share {
  position: absolute;
  top: 10px;
  right: 150px;
}

.pano .share-url {
  width: 350px;
  display: none;
  margin-left: 10px;
}

.pano .btn-pause {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pano .btn-play {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.pano .credits {
  background: url("../../common/img/automatic_logo.png") 0 0 no-repeat;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  text-decoration: none;
  line-height: 40px;
  padding-left: 43px;
  font-weight: bold;
}

.pano .panomap {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (min-width: 800px) {
  .pano .pano-title {
    font-size: 26px;
  }

  .pano .pano-title-share {
    font-size: 26px;
  }
}
