.wrapper {
  width: 800px;
  margin: 0 auto;
}

.chart text {
  fill: #8e8e8e;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  text-anchor: middle;
}

.chart rect {
  fill: transparent;
}

.bar {
  fill: #bbc2c4;
}

.axis path {
  fill: white;
}

.axis-label {
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
  text-transform: uppercase;
}

.chart .axis text {
  font-size: 28px;
  font-weight: bold;
}

.line {
	stroke: #8e8e8e;
	fill: none;
	stroke-width: 4;
}

rect.median {
  fill: #f7f5f4;
}

text.median-label {
  font-size: 26px;
}

line.median-line {
  stroke: #cecece;
  stroke-width: 4;
  fill: none;
}

.flag line {
  stroke-width: 8;
  fill: none;
}

.flag text {
  fill: #ffffff;
}

.flag .flag-label {
  font-size: 22px;
}

.flag .flag-value {
  font-size: 44px;
  font-weight: bold;
  text-anchor: middle;
}

#batteryLineGraph path.domain {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#batteryLineGraph path.area {
  fill: #e7e7e7;
}

#batteryLineGraph .axis {
  shape-rendering: crispEdges;
}

#batteryLineGraph .axis line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

/* new line graph */

.gap-band {
  fill: #46C69F;
  fill-opacity: 0.6;
}

#newBatteryLineGraph path.domain {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

#newBatteryLineGraph path.area {
  fill: #e7e7e7;
}

#newBatteryLineGraph .ci {
  fill: #FA451B;
  fill-opacity: 1;
}

#newBatteryLineGraph .axis {
  shape-rendering: crispEdges;
}

#newBatteryLineGraph .axis line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.danger-text {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-anchor: middle;
  font-family: avenir, "avenir next", helvetica, arial, sans-serif;
}

/* legend */
.gap-icon {
  fill: #46C69F;
  fill-opacity: 0.6;
}

.cycle-icon {
  fill: #FA451B;
  fill-opacity: 1;
}

.legend-text {
  fill: #888E8F;
}

/* data switch button */

.battery-graph-container {
  padding-bottom: 25px;
}

.battery-graph-container button {
  display: block;
  margin: auto;
}

h2.battery-title {
  font-size: 40px;
  margin-top: 0;
}

h3.battery-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 10px;
}

.battery-box-title {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  padding: 0 35px;
  color: #ffffff;
  background: rgb(92, 184, 215);
  height: 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.battery-box-content {
  border: 1px solid rgb(207, 207, 207);
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.controls {
  padding: 20px 30px;
}

.battery-insight {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 30px;
  color: #ffffff;
  background: rgb(92, 184, 215);
  border-radius: 8px;
}

.graph-swap-container {
  padding: 0 30px;
  font-size: 12px;
}

.center-block {
  text-align: center;
}

.btn-green {
  background: rgb(124, 193, 68);
  color: #ffffff;
}

.btn {
  text-transform: uppercase;
  font-family: avenir, "avenir next", helvetica, arial, sans-serif;
}

.btn.btn-lg {
  font-size: 36px;
}

.question {
  background: rgb(253, 253, 253);
  padding: 10px 30px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;
  margin-bottom: 20px;
}

.question .open-control {
  float: right;
  padding: 10px 0;
  cursor: pointer;
}

.question .open-control:hover {
  color: rgb(124, 193, 68);
}

.question h3 {
  line-height: 40px;
  margin: 0;
  cursor: pointer;
}

.question .answer {
  display: none;
}

.survey-box {
  padding-top: 35px;
  padding-bottom: 20px;
}
