<h1 class="appListTitle">Connected Apps</h1>
<ul class="appList">
  <div class="loading">Loading...</div>
  <div class="noApps">
    You have not connected any apps yet.
  </div>
</ul>
<div class="moreApps">
  <a href="https://www.automatic.com/apps/" class="btn btn-blue btn-lg btn-block">Get More Apps</a>
</div>
