<ul class="filterNav">
  <label>Filters:</label>
  <li class="undo btn btn-filter disabled">Undo</li><li class="reset btn btn-filter">Reset</li>
</ul>

<ul class="appliedFilters">
  <li class="addFilterContainer">
    <div class="filterLabel">and</div>
    <div title="Add Filter" class="addFilter btn btn-filter btn-popover" data-toggle="popover">+</div>
  </li>
</ul>

<div class="popoverTemplate" data-filter="date" title="Select Date Range">
  <ul class="dateFilterValue listSelect animate">
    <li data-value="thisWeek">this week <i></i></li>
    <li data-value="thisMonth">this month <i></i></li>
    <li data-value="last30Days" class="selected">in the last 30 days <i></i></li>
    <li data-value="thisYear">this year <i></i></li>
    <li data-value="allTime">all time <i></i></li>
    <li data-value="custom">custom <i></i></li>
  </ul>
  <div class="dateFilterCustom">
    <div class="input-group">
      <label>From</label>
      <input type="text" type="text" class="form-control dateFilterValueCustomStart" data-date-format="MM/DD/YY">
    </div>
    <div class="input-group">
      <label>To</label>
      <input type="text" type="text" class="form-control dateFilterValueCustomEnd" data-date-format="MM/DD/YY">
    </div>
  </div>
  <div class="noMatchingTrips">No matching trips</div>
</div>

<div class="popoverTemplate" data-filter="vehicle" title="Select Vehicle">
  <ul class="vehicleFilterValue listSelect animate">
    <li data-value="all">All my vehicles <i></i></li>
    <li class="hide" data-value="other">Other vehicle(s) <i></i></li>
  </ul>
  <div class="noMatchingTrips">No matching trips</div>
</div>

<div class="popoverTemplate" data-filter="distance" title="Choose Distance Range">
  <input class="distanceFilterValue slider">
  <div class="removeFilter" data-filter="distance">Remove filter</div>
  <div class="noMatchingTrips">No matching trips</div>
</div>

<div class="popoverTemplate" data-filter="duration" title="Choose Duration Range">
  <input class="durationFilterValue slider">
  <div class="removeFilter" data-filter="duration">Remove filter</div>
  <div class="noMatchingTrips">No matching trips</div>
</div>

<div class="popoverTemplate" data-filter="cost" title="Choose Cost Range">
  <input class="costFilterValue slider">
  <div class="removeFilter" data-filter="cost">Remove filter</div>
  <div class="noMatchingTrips">No matching trips</div>
</div>


<div class="popoverTemplate" data-filter="time" title="Choose Time of Day Range">
  <input class=timeFilterValue slider">
  <div class="removeFilter" data-filter="time">Remove filter</div>
  <div class="noMatchingTrips">No matching trips</div>
</div>
