<ul class="filterNav">
  <li class="undo btn-filter"><a href="#" title="Undo">Undo</a></li><li class="redo btn-filter"><a href="#" title="Redo">Redo</a></li>
</ul>

<a href="#" class="resetFilters">Reset Filters</a>


<ul class="appliedFilters">
  <li class="addFilterContainer">
    <div class="filterLabel">and</div>
    <div title="Add Filter" class="addFilter btn-filter btn-popover" data-original-title="Add Filter"></div>
  </li>
</ul>

<div class="popoverContent" data-filter="date" title="Select Time Range">
  <select class="dateFilterValue">
    <option value="day" data-offset="0">Today</option>
    <option value="week" data-offset="0">This Week</option>
    <option value="month" data-offset="0">This Month</option>
    <option value="month" data-offset="-1">Last Month</option>
  </select>
</div>

<div class="popoverContent" data-filter="vehicle" title="Select Vehicle">
  <select class="vehicleFilterValue">
    <option value="all">All Vehicles</option>
  </select>
</div>

<div class="popoverContent" data-filter="distance" title="Choose Distance Range">
  <input class="distanceFilterValue slider">
  <div class="distanceFilterNotes">
    <div class="min">Your shortest trip: <span></span> miles</div>
    <div class="max">Your longest trip: <span></span> miles</div>
  </div>
</div>

<div class="popoverContent" data-filter="duration" title="Choose Duration Range">
  <input class="durationFilterValue slider">
  <div class="durationFilterNotes">
    <div class="min">Your shortest trip: <span></span> minutes</div>
    <div class="max">Your longest trip: <span></span> minutes</div>
  </div>
</div>

<div class="popoverContent" data-filter="cost" title="Choose Cost Range">
  <input class="costFilterValue slider">
  <div class="costFilterNotes">
    <div>Your trips have ranged between <span class="min"></span> and <span class="max"></span></div>
  </div>
</div>

<div class="popoverContent" data-filter="location" title="Choose Location">
  <form class="locationFilterValue">
    <select class="locationFilterValueType">
      <option value="start">From</option>
      <option value="end">To</option>
    </select>
    <input class="locationFilterValueAddress" placeholder="Enter Address">
  </form>
  <div class="locationFilterResults"></div>
</div>

<div class="popoverContent" data-filter="time">
  <input class=timeFilterValue slider">
</div>
