<div id="filters">
  <h3 class="filterLabel">Show Me</h3>
  <ul class="appliedFilters"></ul>

  <div title="" class="addFilter btn btn-filter btn-popover" data-original-title="Add Filter" data-content='<ul class="filterList"><li data-filter="vehicle">By Vehicle</li><li data-filter="distance">By Distance</li><li data-filter="duration">By Duration</li><li data-filter="cost">By Cost</li><li data-filter="location">By Location</li></ul>'>
    <i class="glyphicon glyphicon-plus"></i>
  </div>
</div>
