<div id="filters">
  <h3 class="filterLabel">Show Me</h3>
  <div class="appliedFilters">

    <div title="" data-filter="date" class="dateFilter btn btn-filter btn-popover applied" data-original-title="Select Time Range">
      <span class="btn-text">All time</span><span class="caret"></span>
      <span class="popover-text">
        <select class="dateFilterValue">
          <option value="today">Today</option>
          <option value="thisWeek">This week</option>
          <option value="thisMonth">This month</option>
          <option value="lastMonth">Last month</option>
          <option value="all" selected="selected">All time</option>
        </select>
      </span>
    </div>

    <div title="" data-filter="duration" class="durationFilter btn btn-filter btn-popover" data-original-title="Select Trip Duration">
      <span class="btn-text">All Durations</span><span class="caret"></span>
      <span class="popover-text">
        <input class="durationFilterValue slider">
        <div class="durationFilterNotes">
        <div class="min">Your shortest trip: <span>1</span> minutes</div>
        <div class="max">Your longest trip: <span>20</span> minutes</div>
        </div>
      </span>
    </div>

    <div title="" data-filter="cost" class="costFilter btn btn-filter btn-popover" data-original-title="Select Fuel Cost">
      <span class="btn-text">All Costs</span><span class="caret"></span>
      <span class="popover-text">
        <input class="costFilterValue slider">
        <div class="costFilterNotes">
          <div>Your trips have ranged between <span class="min">$0.02</span> and <span class="max">$0.82</span>.</div>
        </div>
      </span>
    </div>

    <div title="" data-filter="location" class="locationFilter btn btn-filter btn-popover" data-original-title="Set Location Filter">
      <span class="btn-text">Everywhere</span><span class="caret"></span>
      <span class="popover-text"><span>All</span></span>
    </div>

  </div>

  <ul></ul>

  <div title="" class="addFilter btn btn-default btn-popover" data-original-title="Add Filter">
    <i class="glyphicon glyphicon-plus"></i>
  </div>
</div>


