<ul class="filterNav">
  <li class="undo btn-filter"><a href="#" title="Undo">Undo</a></li><li class="redo btn-filter"><a href="#" title="Redo">Redo</a></li>
</ul>

<a href="#" class="resetFilters">Reset Filters</a>


<ul class="appliedFilters">
  <li class="addFilterContainer">
    <div class="filterLabel">and</div>
    <div title="Add Filter" class="addFilter btn-filter btn-popover" data-original-title="Add Filter"></div>
  </li>
</ul>

<div class="popoverContent" data-filter="date" title="Select Date Range">
  <select class="dateFilterValue">
    <option value="thisWeek">this week</option>
    <option value="thisMonth">this month</option>
    <option value="last30Days" selected="selected">in the last 30 days</option>
    <option value="thisYear">this year</option>
    <option value="allTime">all time</option>
    <option value="custom">custom</option>
  </select>
</div>

<div class="popoverContent" data-filter="vehicle" title="Select Vehicle">
  <select class="vehicleFilterValue">
    <option value="all">All Vehicles</option>
  </select>
</div>

<div class="popoverContent" data-filter="distance" title="Choose Distance Range">
  <input class="distanceFilterValue slider">
  <div class="removeFilter" data-filter="distance">Remove filter</div>
</div>

<div class="popoverContent" data-filter="duration" title="Choose Duration Range">
  <input class="durationFilterValue slider">
  <div class="removeFilter" data-filter="duration">Remove filter</div>
</div>

<div class="popoverContent" data-filter="cost" title="Choose Cost Range">
  <input class="costFilterValue slider">
  <div class="removeFilter" data-filter="cost">Remove filter</div>
</div>


<div class="popoverContent" data-filter="time">
  <input class=timeFilterValue slider">
  <div class="removeFilter" data-filter="time">Remove filter</div>
</div>
