<h3 class="filterLabel">Show Me</h3>

<ul class="appliedFilters"></ul>

<div title="" class="addFilter btn btn-filter btn-popover" data-original-title="Add Filter">
  <i class="glyphicon glyphicon-plus"></i>
</div>

<div class="popoverContent" data-filter="date">
  <select class="dateFilterValue">
    <option value="today">Today</option>
    <option value="thisWeek">This Week</option>
    <option value="thisMonth">This Month</option>
    <option value="lastMonth">Last Month</option>
    <option value="all">All Time</option>
  </select>
</div>

<div class="popoverContent" data-filter="vehicle">
  <select class="vehicleFilterValue">
    <option value="all">All Vehicles</option>
  </select>
</div>

<div class="popoverContent" data-filter="distance">
  <input class="distanceFilterValue slider">
  <div class="distanceFilterNotes">
    <div class="min">Your shortest trip: <span></span> miles</div>
    <div class="max">Your longest trip: <span></span> miles</div>
  </div>
</div>

<div class="popoverContent" data-filter="duration">
  <input class="durationFilterValue slider">
  <div class="durationFilterNotes">
    <div class="min">Your shortest trip: <span></span> minutes</div>
    <div class="max">Your longest trip: <span></span> minutes</div>
  </div>
</div>

<div class="popoverContent" data-filter="cost">
  <input class="costFilterValue slider">
  <div class="costFilterNotes">
    <div>Your trips have ranged between <span class="min"></span> and <span class="max"></span></div>
  </div>
</div>

<div class="popoverContent" data-filter="location">
  <form class="locationFilterValue">
    <select class="locationFilterValueType">
      <option value="start">From</option>
      <option value="end">To</option>
    </select>
    <input class="locationFilterValueAddress" placeholder="Enter Address">
  </form>
  <div class="locationFilterResults"></div>
</div>

<div class="popoverContent" data-filter="time">
  <input class=timeFilterValue slider">
</div>
