<h3 class="filterLabel">Show Me</h3>
<ul class="appliedFilters"></ul>

<div title="" class="addFilter btn btn-filter btn-popover" data-original-title="Add Filter">
  <i class="glyphicon glyphicon-plus"></i>
</div>

<div class="distance popoverContent">
  <input class="distanceFilterValue slider">
  <div class="distanceFilterNotes">
    <div class="min">Your shortest trip: <span></span> miles</div>
    <div class="max">Your longest trip: <span></span> miles</div>
  </div>
</div>
