<h2 class="sectionHeader">Trips</h2>

<div class="tripsHeader">
  <div class="tripCount">{{ total }} Trips <span></span></div>
  <div class="sortDirection {{ sortDirection }}"></div>
  <div class="sortType" data-toggle="popover">{{ sortTypeName }} <i class="fa fa-angle-down fa-lg"></i></div>

  <div class="popoverTemplate">
    <ul class="sortValue listSelect animate">
      <li data-value="started_at">Time/Date</li>
      <li data-value="distance_m">Distance</li>
      <li data-value="average_mpg">MPG</li>
      <li data-value="fuel_cost_usd">Cost</li>
      <li data-value="duration">Duration</li>
    </ul>
  </div>

</div>

<div class="trips">
  <div class="loading">Loading...</div>
  <ul></ul>
</div>
