<div class="tripsHeader">
  <div class="tripCount">{{ total }} Trips <span></span></div>
  <div class="sortDirection {{ sortDirection }}"></div>
  <div class="sortType" data-toggle="popover">{{ sortTypeName }}</div>

  <div class="popoverTemplate">
    <ul class="sortValue listSelect animate">
      <li data-value="start_time">Time/Date</li>
      <li data-value="distance_m">Distance</li>
      <li data-value="average_mpg">MPG</li>
      <li data-value="fuel_cost_usd">Cost</li>
      <li data-value="duration">Duration</li>
    </ul>
  </div>

</div>

<div class="trips">
  <ul></ul>
</div>

<div class="tripsFooter">
  <div class="deselectAll hide">Deselect all</div>
  <div class="selectAll">Select all</div>
  {{#exportSupported}}
    <div class="export" data-toggle="popover">Export</div>
    <div class="popoverTemplate">
      <ul class="exportOption listSelect">
        <li data-value="selected">Export selected trips (<span></span>)</li>
        <li data-value="tripList">Export trips currently in trip list (<span></span>)</li>
        <li data-value="all">Export all trips</li>
      </ul>
    </div>
  {{/exportSupported}}
</div>
