<div id="tripsHeader">
  <div class="tripCount">{{ total }} Trips</div>

  <select class="sortType">
    <option value="start_date">Most Recent</option>
    <option value="start_date">Less Recent</option>
  </select> 
</div>

<ul class="trips"></ul>

<div id="tripsFooter">
  <div class="export">
    <label>Export</label>
    <select id="exporter">
      <option></option>
      <option value="selected">Selected</option>
      <option value="filtered">Filtered</option>
      <option value="all">All</option>
    </select>
  </div>
</div>
