<div class="tripsHeader">
  <div class="tripCount">{{ total }} Trips</div>

  <div class="sortType" data-toggle="popover">Time/Date</div>

  <div class="popoverTemplate" title="Sort By">
    <ul class="sortValue listSelect">
      <li data-value="start_time" class="selected sortDown">Time/Date</li>
      <li data-value="distance_m">Distance</li>
      <li data-value="average_mpg">MPG</li>
      <li data-value="fuel_cost_usd">Cost</li>
      <li data-value="duration">Duration</li>
      <li data-value="score">Score</li>
    </ul>
  </div>

</div>

<ul class="trips"></ul>

<div class="tripsFooter">
  <div class="btn-export btn-popover" data-toggle="popover">Export</div>
</div>
