<div id="tripsHeader">
  <div class="tripCount">{{ total }} Trips</div>

  <select class="sortType">
    <option value="start_time">Time/Date</option>
    <option value="distance_m">Distance</option>
    <option value="average_mpg">MPG</option>
    <option value="fuel_cost_usd">Cost</option>
    <option value="duration">Duration</option>
    <option value="score">Score</option>
  </select>
</div>

<ul class="trips"></ul>

<div id="tripsFooter">
  <div class="export">
    <label>Export</label>
    <select id="exporter">
      <option></option>
      <option value="selected">Selected</option>
      <option value="filtered">Filtered</option>
      <option value="all">All</option>
    </select>
  </div>
</div>
