<div class="tripsHeader">
  <div class="tripCount">{{ total }} Trips</div>
  <div class="sortDirection" data-direction="sortDown"></div>
  <div class="sortType" data-toggle="popover">Time/Date</div>

  <div class="popoverTemplate" title="Sort By">
    <ul class="sortValue listSelect">
      <li data-value="start_time" class="selected">Time/Date</li>
      <li data-value="distance_m">Distance</li>
      <li data-value="average_mpg">MPG</li>
      <li data-value="fuel_cost_usd">Cost</li>
      <li data-value="duration">Duration</li>
    </ul>
  </div>

</div>

<div class="trips">
  <ul></ul>
</div>

<div class="tripsFooter">
  {{#exportSupported}}
    <div class="export" data-toggle="popover">Export</div>
    <div class="popoverTemplate" title="Export Trips to .CSV">
      <ul class="exportOption listSelect">
        <li data-value="selected">Export selected trips (<span></span>)</li>
        <li data-value="tripList">Export trips currently in trip list (<span></span>)</li>
        <li data-value="all">Export all trips (<span></span>)</li>
      </ul>
    </div>
  {{/exportSupported}}
  <div class="deselectAll">Deselect All</div>
</div>
