.wrapper {
  width: 90%;
  margin: 0 auto;
}

.dtc-table-container {
  padding-bottom: 10px;
}

.dtc-table-container button {
  display: block;
  margin: auto;
}

h2.dtc-title {
  font-size: 40px;
}

h3.dtc-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 10px;
}

.dtc-box {
  padding-bottom: 10px;
}

.dtc-box-title {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  padding: 0 35px;
  color: #ffffff;
  background: rgb(92, 184, 215);
  height: 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dtc-box-content {
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: rgb(92, 184, 215);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.controls {
  padding: 20px 0px;
}

.btn {
  text-transform: uppercase;
  font-family: avenir, "avenir next", helvetica, arial, sans-serif;
}

.dtc-codes-table {
  table-layout: inherit;
  width: 100%;
  word-wrap: break-word;
  background: white;
}

.dtc-codes-table td {
  border-top: 1px solid #ddd;
  text-align: center;
}

.dtc-codes-table thead th {
  border-bottom: black;
  padding-top:
}

.dtc-codes-table tr.odd {
  background-color: #f9f9f9;
}

.dtc-codes-table tr.odd td.sorting_1 {
  background-color: #f1f1f1;
}

.dtc-codes-table tr.even td.sorting_1 {
  background-color: #fafafa;
}

.dtc-codes-table tr:hover td {
  background-color: #C7C7C7 !important;
}

.dtc-codes-table th p {
  margin: 0px;
  padding: 10px 1px;
}

.dtc-codes-table td p {
  margin: 0px;
  padding: 10px 1px;
}

.dtc-table-container label {
  color: #ffffff;
  padding: 10px;
  position: relative;
  bottom: 3px;
}

.dataTables_wrapper div.dataTables_info {
  color: #ffffff !important;
  padding-left: 0.755em;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button {
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.next {
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.previous{
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate span.ellipsis{
  color: #ffffff !important;
}

table.dataTable.no-footer {
    border: 1px solid rgb(207, 207, 207);
}

.dataTables_wrapper.no-footer div:nth-child(2)  {
  display: none;
}

@media screen and (max-width: 1000px) {
  .dtc-table-container label {
    display: none;
  }

  body {
    font-size: .7em;
  }

  .dtc-box-title {
    font-size: 1.5em;
  }

  #vehicleChoice {
    font-size: .5em;
  }

  #predictionsChoice {
    font-size: .5em;
  }

  #share {
    font-size: 1.5em;
  }

  .automatic-labs {
    background-size: 1.7em;
    height: 25px;
    left: 10px;
  }

}

@media screen and (max-width: 780px) {
  body {
    font-size: .5em;
  }

  .dtc-box-title {
    font-size: 1.3em;
  }

  #vehicleChoice {
    font-size: .3em;
  }

  #predictionsChoice {
    font-size: .3em;
  }

  #share {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 690px) {
  body {
    font-size: .3em;
  }

  .dtc-box-title {
    font-size: 1.1em;
  }

  #vehicleChoice {
    font-size: .1em;
  }

  #predictionsChoice {
    font-size: .1em;
  }

  #share {
    font-size: 1.1em;
  }

  .automatic-labs {
    height: 20px;
    left: 5px;
  }
}
