body {
  height: auto;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
}

.note {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 20px;
}

.controls {
  display: none;
}

.map {
  width: 100%;
  height: 400px;
  display: none;
  margin-bottom: 15px;
}

.leaflet-top {
  z-index: 9;
}

.results-summary {
  display: none;
  padding-bottom: 20px;
}

.show-route {
  padding-left: 15px;
}

.mg-chart-title {
  font-size: 14px;
}

.mg-year-marker {
  display: none;
}

.controls {
  margin-bottom: 20px;
}

.controls h4 {
  margin-bottom: 0;
}

.input-daterange {
  display: inline-block;
}

.input-daterange input {
  width: 75px;
  font-size: 12px;
  padding: 7px 8px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.locations {
  overflow: hidden;
  padding-bottom: 20px;
}

.locations h4 {
  margin-bottom: 0;
}

.location {
  width: 50%;
  float: left;
}

.location select {
  width: 200px;
}

.location label {
  font-weight: bold;
  padding-right: 5px;
}
