<div class="filterLabel">{{ label }}</div>
<div class="btn btn-filter btn-popover btn-dropdown" data-filter="{{ name }}" data-toggle="popover">
  <span class="btn-text">{{ valueText }}</span> <i class="fa fa-angle-down fa-lg"></i>
</div>
