<div class="graphMenu">
  <div class="dateRange"></div>

  <div class="graphType" data-toggle="popover">MPG <i class='fa fa-angle-down fa-lg'></i></div>

  <div class="popoverTemplate">
    <ul class="graphValue listSelect">
      <li data-value="average_mpg" data-unit="MPG" class="selected">MPG</li>
      <li data-value="fuel_cost_usd" data-unit="FUEL">Cost</li>
      <li data-value="score" data-unit="/100">Score</li>
      <li data-value="distance_miles" data-unit="MILES">Distance</li>
      <li data-value="duration" data-unit="MIN">Duration</li>
    </ul>
  </div>
</div>

<div class="graphAverages">
  <div class="graphAveragesLabel">Your average</div>
  <div class="graphAveragesValue"></div>
  <div class="graphAveragesBackground"></div>
</div>

<div class="graphContainer">
  <div class="graphTooltipContainer"><div class="graphTooltip"></div></div>
</div>
