<!--

-->
<div class="grapModifiers">
  <div class="dateRange">Date Range</div>

  <select class="durationType">
    <option value="average_mpg">By Day</option>
    <option value="fuel_cost_usd">By Week</option>
    <option value="score">By Month</option>
  </select>

  <select class="graphType">
    <option value="average_mpg">By MPG</option>
    <option value="fuel_cost_usd">By Cost</option>
    <option value="score">By Score</option>
    <option value="distance_miles">By Distance</option>
    <option value="duration">By Duration</option>
  </select>
</div>

<svg height="225"></svg>
