<!-- 

-->
<div class="grapModifiers">
  <div class="dateRange">Date Range</div>

  <select class="durationType">
    <option value="average_mpg">By Day</option>
    <option value="fuel_cost_usd">By Week</option>
    <option value="score">By Month</option>
  </select>

  <div>
    <input id="otherDrivers" type="checkbox">
    <label for="otherDrivers">Other Automatic Drivers</label>
  </div>

  <select class="graphType">
    <option value="average_mpg">By MPG</option>
    <option value="fuel_cost_usd">By Cost</option>
    <option value="score">By Score</option>
    <option value="distance_miles">By Distance</option>
    <option value="duration">By Duration</option>
  </select>
</div>

<svg height="225"></svg>

<div class="prevDates" title="Prev Dates"><i class="glyphicon glyphicon-chevron-left"></i></div>

<div class="nextDates" title="Next Dates"><i class="glyphicon glyphicon-chevron-right"></i></div>
