<a href="//automatic.com">
<div id="logo">
  <div class="demoTag">demo</div>
</div>
</a>

{{#if licenseplusMenu}}
  <div id="licenseplusToggle">
    <a href="#licenseplus">License+</a>
    <div class="toggleContainer">
      <div class="toggle {{licenseplusMenu}}"></div>
    </div>
    <a href="#">My Dashboard</a>
  </div>
{{/if}}

<div id="userMenu">
  <ul>
    <li>
      <a href="http://blog.automatic.com">Blog</a>
    </li>
    <li class="support">
      <a href="#">Support</a>
    </li>
    <li>
      <span class="firstName">{{ first_name }}</span>
      {{#id}}
        <a href="#logout">Log out</a>
      {{/id}}
    </li>
  </ul>
</div>

<div id="demoMenu">
  <ul>
    <li>
      <a href="https://www.automatic.com/?utm_source=dashboard%20CTA&utm_medium=button&utm_campaign=dashboard%20demo%20CTA%20" class="whatIsAutomatic">What is Automatic?</a>
    </li>
    <li>
      <a href="?#login" class="login">Log In</a>
    </li>
  </ul>
  <a href="https://www.automatic.com/order?utm_source=dashboard%20CTA&utm_medium=button&utm_campaign=dashboard%20demo%20CTA%20" class="btn btn-white buyNow">On Sale -- $79.99</a>
</div>
