<div id="logo">
  <div class="demoTag">demo</div>
</div>

<div id="userMenu">
  <ul>
    <li>
      <a href="http://blog.automatic.com">Blog</a>
    </li>
    <li>
      <a href="https://www.automatic.com/support/">Support</a>
    </li>
    <li>
      <span class="firstName">{{ first_name }}</span>
      {{#id}}
        <a href="#/logout">Log out</a>
      {{/id}}
    </li>
  </ul>
</div>

<div id="playgroundMenu">
  <ul>
    <li>
      <a href="https://www.automatic.com/">What is Automatic?</a>
    </li>
    <li>
      <a href="?#login">Log In</a>
    </li>
  </ul>
  <a href="https://www.automatic.com/order/" class='btn btn-white'>Buy Now $99.95</a>
</div>
