<div class="map"></div>
<div class="tripEvents">
  <div class="hardBrakes event {{#if noHardBrakes}}noHardBrakes{{/if}}">
    <span>{{hard_brakes}}</span>
    <label>Hard Brakes</label>
  </div>
  <div class="hardAccels event {{#if noHardAccels}}noHardAccels{{/if}}">
    <span>{{hard_accels}}</span>
    <label>Hard Accels</label>
  </div>
  <div class="speeding event {{#if noSpeeding}}noSpeeding{{/if}}">
    <span>{{duration_over_70_min}}</span>
    <label>Min over 70</label>
  </div>
</div>
