<div class="map"></div>
<div class="mapMenu">
  <div class="zoomControl">
    <div class="zoomIn">+</div>
    <div class="zoomOut">&mdash;</div>
  </div>
  <div class="mapMenuRight">
    <label><input type="checkbox" class="showTripEvents"> View</label>
    <div class="tripEvents grey">
      <div class="event">
        <div class="hardBrakes">0</div>
      </div>
      <div class="event">
        <div class="speeding">0</div>
      </div>
      <div class="event">
        <div class="hardAccels">0</div>
      </div>
    </div>
  </div>
</div>
