<div class="tripCount">{{ count }}</div>
<div class="export">
  <label>Export</label>
  <select>
    <option></option>
    <option value="all">All</option>
    <option value="selected" disabled="">Selected</option>
  </select>
</div>
