<div id="tripsHeader">
  <div class="tripCount">{{ total }} TRIPS</div>
  <div class="export">
    <label>Export</label>
    <select id="exporter">
      <option></option>
      <option value="all">All</option>
      <option value="selected">Selected</option>
    </select>
  </div>
</div>
<ul></ul>

