<ul>
  <li>
    <a href="http://blog.automatic.com">Blog</a>
  </li>
  <li>
    <a href="https://www.automatic.com/support/">Support</a>
  </li>
  <li>
    <span class="firstName">{{ first_name }}</span>
    <a href="/#/logout">Log out</a>
  </li>
</ul>
