<div class="someTrips">
  <svg></svg>
  <div class="stat distance">
    <div class="value">{{ distance }}</div>
    <div class="label">Miles</div>
  </div>
  <div class="stat mpg active">
    <div class="value">{{ mpg }}</div>
    <div class="label">MPG</div>
  </div>
  <div class="stat cost">
    <div class="value">{{ cost }}</div>
    <div class="label">Fuel</div>
  </div>
  <div class="stat duration">
    <div class="value">{{ duration }}</div>
    <div class="label">Hours</div>
  </div>
</div>
<div class="noTrips">
  <div class="alert-grey">No trips match this criteria</div>
</div>
