<div id="coach_login">
  <div class="topBox">
    <div class="left"></div>
    <div class="right">
      <h1>Welcome to License+</h1>
      <h3>Log in or create an account to get started.</h3>
    </div>
  </div>

  <div class="bottomBox">
    <div class="left">
      <div id="loginForm">
        <p>Use your Automatic app account</p>
        <form method="POST" role="form">
          <input type="hidden" name="type" value="login">
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Email Address" spellcheck="false">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <ul class="alert alert-grey invisible" role="alert"></ul>
          <div class="form-group">
            <label><input type="checkbox" name="staySignedIn" checked class="staySignedIn"> Keep me signed in</label>
          </div>
          <button type="submit" class="btn btn-blue btn-block">Login</button>
        </form>

        <div class="divider"><span>or</span></div>
        <div class="btn btn-block btn-grey toggleLoginForm">Create Account</div>
        <div class="forgotPassword">
          <p>Forgot your password? <a href="#reset" class="forgotPasswordLink">Reset it</a></p>
        </div>
      </div>
      <div id="createAccountForm">
        <form method="POST" role="form">
          <input type="hidden" name="type" value="create">
          <div class="form-group">
            <input type="text" class="form-control" name="first_name" placeholder="First Name" spellcheck="false">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" spellcheck="false">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Email Address" spellcheck="false">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password_repeat" placeholder="Re-enter Password">
          </div>
          <ul class="alert alert-grey invisible" role="alert"></ul>
          <div class="form-group">
            <label><input type="checkbox" checked name="staySignedIn" class="staySignedIn"> Keep me signed in</label>
          </div>
          <button type="submit" class="btn btn-blue btn-block">Create Account</button>
        </form>
        <div class="divider"><span>or</span></div>
        <div class="btn btn-block btn-grey toggleLoginForm">Login</div>
      </div>
    </div>
    <div class="right">
      <div class="permissionsPreamble">Your new driver agrees to share the following driving stats to get your coaching support:</div>
      <ul class="permissionsList">
        <li class="hardEvents">Hard brakes and accelerations</li>
        <li class="speeding">Time over 70mph</li>
        <li class="fuelEfficiency">Fuel efficiency</li>
        <li class="distance">Trip distance and cities visited.</li>
      </ul>
      <a href="#" class="learnMore">Learn More</a>
    </div>
  </div>
</div>
