<h1 class="labsTitle">Automatic Labs</h1>
<p>Experimental visualizations, tools and apps</p>
<ul class="labsList">
  <li>
    <a href="/labs/heatmap" class="labsLink">
      <div class="labsIcon">
        <img src="/assets/img/labs/heatmap.png">
      </div>
      <h3 class="labsTitle">Heatmap</h3>
      <div class="labsDescription">
        See all trips you've made with Automatic as a heatmap.
      </div>
    </a>
  </li>
  <li>
    <a href="/labs/nightmap" class="labsLink">
      <div class="labsIcon">
        <img src="/assets/img/labs/nightmap.png">
      </div>
      <h3 class="labsTitle">Trip Line Map</h3>
      <div class="labsDescription">
        All of your driving in one minimial, night time map.
      </div>
    </a>
  </li>
  <li>
    <a href="/labs/zipcodemap" class="labsLink">
      <div class="labsIcon">
        <img src="/assets/img/labs/zipcodemap.png">
      </div>
      <h3 class="labsTitle">Zipcode Map</h3>
      <div class="labsDescription">
        A map of all Zipcodes that you have driven to.
      </div>
    </a>
  </li>
</ul>
