<h1 class="pageTitle">Automatic Labs</h1>
<p>Automatic Labs is a place where you can play with experimental visualizations, tools, and apps that aren't ready for primetime yet. As we work on them, we can't promise they won't change, break, or disappear. Check them out!</p>
<ul class="labsList">
  <li>
    <a href="/labs/hyperlapse/index.html" class="labsLink">
      <img src="/assets/img/labs/hyperlapse.gif" class="labsIcon">
      <h3 class="labsTitle">Hyperlapse Generator</h3>
      <div class="labsDescription">
        Re-live any of your past drives with Google Streetview imagery of the route stitched into a time-lapse video.
      </div>
    </a>
  </li>
  <li>
  <li>
    <a href="/labs/heatmap/index.html" class="labsLink">
      <img src="/assets/img/labs/heatmap.png" class="labsIcon">
      <h3 class="labsTitle">Heatmap</h3>
      <div class="labsDescription">
        Each place you've gone with Automatic shown as a heatmap.
      </div>
    </a>
  </li>
  <li>
    <a href="/labs/nightmap/index.html" class="labsLink">
      <img src="/assets/img/labs/nightmap.png" class="labsIcon">
      <h3 class="labsTitle">Trip Line Map</h3>
      <div class="labsDescription">
        All of your driving ever overlaid on a minimial, nighttime map. Simple and beautiful.
      </div>
    </a>
  </li>
  <li>
    <a href="/labs/countymap/index.html" class="labsLink">
      <img src="/assets/img/labs/countymap.png" class="labsIcon">
      <h3 class="labsTitle">County Driving Map</h3>
      <div class="labsDescription">
        A map of all US counties and states that you have driven to. Collect them all!
      </div>
    </a>
  </li>
  <li>
    <a href="/labs/carbon/index.html" class="labsLink">
      <img src="/assets/img/labs/carbon.png" class="labsIcon">
      <h3 class="labsTitle">Carbon Calculator</h3>
      <div class="labsDescription">
        Estimate your carbon footprint, Automatically.
      </div>
    </a>
  </li>
  <li>
    <a href="/labs/receipt/index.html" class="labsLink">
      <img src="/assets/img/labs/receipt.png" class="labsIcon">
      <h3 class="labsTitle">Trip Receipts</h3>
      <div class="labsDescription">
        Download or print a receipt with a map for any trip you've taken with Automatic.
      </div>
    </a>
  </li>
</ul>
