<div id="licenseplusHeader">
</div>
<div class="licenseplusBody">
  <div id="leftColumn">
  </div>
  <div id="rightColumn">
    <div id="studentTrips"></div>
  </div>
</div>

<div id="singleBadge"></div>
