<div id="login" class="container">
  <div class="row">
    <div class="col-md-12 topBox">
      <div class="row">
        <div class="col-md-6">
          <div class="graphicComputer"></div>
        </div>

        <div class="col-md-6">
          <div class="smallLogo"></div>
          <h1>Explore your trips and driving data.</h1>
          <a href="/?playground" class="btn btn-blue tryDemo">Try the demo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <form role="form" id="loginForm">
        <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="alert alert-grey invisible" role="alert"></div>
          <div class="form-group">
            <label><input type="checkbox" checked class="staySignedIn"> Keep me signed in</label>
          </div>
          <button type="submit" class="btn btn-grey">Login</button>
      </form>
      <a href="#reset" class="forgotPasswordLink">Forgot your password?</a>
    </div>
    <div class="col-md-6">
      <h2>Automatic connects your smartphone to your car.</h2>
      <ul class="featureList">
        <li class="savebig">Drive smarter, save big</li>
        <li class="crashalert">Get help in a crash</li>
        <li class="check">Clear your check engine light</li>
        <li class="map">Never forget where you parked</li>
      </ul>
      <a href="http://automatic.com">Learn more</a>
    </div>
  </div>
</div>
