<div class="overlayContent loadingTrips">
  <div>Loading trips&hellip;</div>
  <div class="loadingProgress"></div>
</div>

<div class="overlayContent notSupported">
  <h2>Sorry! Your browser is not supported.</h2>
  <div class="bigAlert"></div>
  <p>In order to maintain the best experience and provide full functionality on our dashboard, we recommend using one of the following desktop web browsers:</p>
  <div class="supportedBrowsers">
    <a href="http://www.google.com/chrome/">Chrome</a> &bull;
    <a href="http://www.mozilla.com/firefox/">Firefox</a> &bull;
    <a href="http://www.apple.com/safari/download/">Safari</a>
  </div>
</div>

<div class="overlayContent notSupportedMobile">
  <h2>Sorry! Mobile browsers are not supported.</h2>
  <div class="bigAlert"></div>
  <p>In order to maintain the best experience and provide full functionality on our dashboard, we ask that you use a desktop browser.</p>
  <a href="http://automatic.com" class="btn btn-blue">Learn more about Automatic</a>
</div>

<div class="overlayContent error403">
  <h2>There was a problem with your login.</h2>
  <div class="bigAlert"></div>
  <p>Please log out and log back in. If the problem persists, please let us know.</p>
  <a href="#logout" class="btn btn-blue">Log Out</a>
</div>

<div class="overlayContent noTrips">
  <h2>You haven't taken any trips yet.</h2>
  <div class="noTripsIcon"></div>
  <p>Once you start driving with Automatic, your trips and drive data will be available here to explore. Use our <a href="https://automatic.com/app?utm_source=dashboard%20CTA&utm_medium=button&utm_campaign=dashboard%20demo%20CTA%20">mobile app</a> to get started.</p>
  <a href="#logout" class="btn btn-blue btn-close">Log Out</a>
</div>

<div class="overlayContent invalidTrip">
  <h2>Trip not found.</h2>
  <div class="noTripsIcon"></div>
  <p><a class="btn btn-blue" href="#">Back to Trip List</a></p>
</div>

<div class="overlay"></div>
