
<script type="text/template" id="loadingTrips">
  <div class="overlayContent loadingTrips">
    <div>Loading trips&hellip;</div>
    <div class="loadingProgress"></div>
  </div>
</script>

<script type="text/template" id="notSupported">
  <div class="overlayContent notSupported">
    <h2>Sorry! Your browser is not supported.</h2>
    <div class="bigAlert"></div>
    <p>In order to maintain the best experience and provide full functionality on our dashboard, we recommend using one of the following desktop web browsers:</p>
    <div class="supportedBrowsers">
      <a href="http://www.google.com/chrome/">Chrome</a> &bull;
      <a href="http://www.mozilla.com/firefox/">Firefox</a> &bull;
      <a href="http://www.apple.com/safari/download/">Safari</a>
    </div>
  </div>
</script>

<script type="text/template" id="error403">
  <div class="overlayContent error403">
    <h2>There was a problem with your login.</h2>
    <div class="bigAlert"></div>
    <p>Please log out and log back in. If the problem persists, please let us know.</p>
    <a href="#logout" class="btn btn-blue">Log Out</a>
  </div>
</script>

<script type="text/template" id="error500">
  <div class="overlayContent error500">
    <h2>There was a problem with our servers.</h2>
    <div class="bigAlert"></div>
    <p>Please log out and try again later. If the problem persists, please let us know.</p>
    <a href="#logout" class="btn btn-blue">Log Out</a>
  </div>
</script>

<script type="text/template" id="noTrips">
  <div class="overlayContent noTrips">
    <div class="close">x</div>
    <h2>You haven't taken any trips yet.</h2>
    <div class="noTripsIcon"></div>
    <p>Once you start driving with Automatic, your trips and drive data will be available here to explore. Use our <a href="https://www.automatic.com/app">mobile app</a> to get started.</p>
    <div class="btn btn-blue btn-close">OK</div>
  </div>
</script>

<script type="text/template" id="invalidTrip">
  <div class="overlayContent invalidTrip">
    <h2>Trip not found.</h2>
    <div class="noTripsIcon"></div>
    <p><a class="btn btn-blue" href="#">Back to Trip List</a></p>
  </div>
</script>

<script type="text/template" id="downloadExport">
  <div class="overlayContent downloadExport">
    <h2>Export trips to .CSV</h2>
    <div class="csvIcon"></div>
    <p>Your trips will be downloaded as a file called "Unknown". To open it, you will need to rename it and add the ".csv" extension.</p>
    <a class="btn btn-blue btn-close" href="{{blobUrl}}">Download now</a>
  </div>
</script>

<script type="text/template" id="getSatisfaction">
  <div class="overlayContent getSatisfaction">
    <div class="close">x</div>
    <div id="getsat-widget-7392"></div>
  </div>
</script>

<div id="overlayContent"></div>
<div id="overlayMask" class="overlay"></div>
