<div id="passwordReset">
  <h1>Reset Your Password</h1>
  <form role="form" id="passwordResetForm">
    <div class="alert alert-danger hide" role="alert"></div>
    <div class="form-group">
        <label for="password" class="control-label">New Password</label>
        <input type="password" class="form-control" id="password" placeholder="New Password">
      </div>
      <div class="form-group">
        <label for="passwordRepeat" class="control-label">New Password Again</label>
        <input type="password" class="form-control" id="passwordRepeat" placeholder="Repeat New Password">
      </div>
      <button type="submit" class="btn btn-default">Reset Password</button>
  </form>
</div>
