<div id="passwordReset">
  <form role="form" id="passwordResetRequestForm">
    <h1>Forgot your password?</h1>
    <p>If you can’t remember your password, you can reset it by entering your email address.</p>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email Address" value="{{ email }}" spellcheck="false">
    </div>
    <div class="alert invisible alert-grey" role="alert"></div>
    <button type="submit" class="btn btn-blue btn-block">Request Password Reset</button>
  </form>
</div>
