<div id="passwordReset">
  <div class="alert invisible alert-grey" role="alert"></div>
  <form role="form" id="passwordResetRequestForm">
    <h1>Forgot your password?</h1>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email Address">
    </div>
    <button type="submit" class="btn btn-grey">Request Password Reset</button>
  </form>
  <form role="form" id="passwordResetForm">
    <h1>Reset Your Password</h1>
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="New Password">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="passwordRepeat" placeholder="Repeat New Password">
    </div>
    <button type="submit" class="btn btn-grey">Reset Password</button>
  </form>
</div>
