<div class="trip">
  <div class="close"><i class="fa fa-times"></i></div>
  <div class="tripNavigation">
    <div class="prevTrip">Previous Trip</div>
    <span class="title">Trip <span class="tripIndex"></span> of <span class="totalTripCount"></span></span>
    <div class="nextTrip">Next</div>
  </div>
  <div id="tripDetails"></div>
  <div id="map"></div>
</div>
