<header>
  <div id="logo"></div>
  <div id="topMenu"><a id="logout" href="/logout/">Log Out</a></div>
  <div id="user"></div>
</header>
<div id="filters"></div>
<div id="right-column">
  <div id="trips"></div>
</div>
<div id="left-column">
  <div id="graphs"></div>
  <div id="map"></div>
</div>
