.wrapper {
  width: 800px;
  margin: 0 auto;
}

h2 {
  border-bottom: 1px solid #ccc;
}

.score-graph {
  padding: 50px 20px 20px;
  float: left;
}

.score-graph-text {
  font-size: 3rem;
  font-weight: bold;
}

.score-results {
  margin-left: 300px;
}

.score-item-wrapper {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}

.score-item {
  padding: 8px 0;
  border-top: 1px solid #ccc;
}

.score-item-value {
  display: inline-block;
  color: #18B8EA;
  font-size: 24px;
  vertical-align: middle;
}

.score-item-text {
  display: inline-block;
  color: #000000;
  font-size: 18px;
  vertical-align: middle;
  padding-left: 12px;
}

.score-components {
  margin-bottom: 40px;
  clear: both;
}

.score-groups {
  margin-bottom: 40px;
}

.score-groups-label {
  margin: 25px 0 5px;
}

.score-group-wrapper {
  border-bottom: 1px solid #ccc;
  clear: both;
  padding: 10px 0;
}

.score-group-wrapper:last-child {
  border-bottom: none;
}

.score-group-wrapper h3 {
  margin: 0;
  text-align: center;
}

.score-group {
  width: 50%;
  float: left;
  text-align: center;
  padding: 20px 0;
}

.score-group-value {
  color: #18B8EA;
  font-size: 100px;
  line-height: 100px;
  padding-top: 20px;
}

.score-group-label {
  color: #000000;
  font-size: 24px;
}

.score-group-unit-label {
  text-align: center;
  color: #333333;
  clear: both;
  font-size: 18px;
}

.score-group-description {
  padding-top: 30px;
  font-size: 14px;
  color: #333333;
}

.score-history {
  margin-bottom: 50px;
}

.graph-line {
  fill: none;
  stroke: #18B8EA;
  stroke-width: 6;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
  fill: #18B8EA;
  stroke: #fff;
}

.focus circle {
  fill: #ffab00;
  stroke: #ffab00;
}

.graph-mouseover-text {
  fill: #ffab00;
  font-size: 24px;
  font-weight: bold;
}

.alert {
  margin-top: 20px;
}
