@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

h1 {
  font-size: 1.75rem;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0 0;
  font-size: 1.5rem;
}

.loading .progress {
  background-color: transparent;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.results {
  margin-bottom: 50px;
}

.score-graph {
  text-align: center;
}

.progress-bar {
  background-color: #18B8EA;
}

.gauge-first {
  fill: #b8e2ee;
}

.gauge-second {
  fill: #7ecfe8;
}

.gauge-third {
  fill: #18B8EA;
}

.gauge-fourth {
  fill: #00a0d2;
}

.needle, .needle-center {
  fill: #6f6f6f;
}

.score-value {
  font-size: 5rem;
  font-weight: bold;
  color: #18B8EA;
  line-height: 1;
}

.score-item-wrapper {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}

.score-item {
  padding: 14px 0 17px;
  border-top: 1px solid #ccc;
  clear: both;
}

.score-item-value {
  float: left;
  color: #18B8EA;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}

.score-item-text {
  color: #000000;
  font-size: 18px;
  padding-left: 77px;
  padding-top: 5px;
  line-height: 1;
}

.score-groups {
  margin-bottom: 40px;
}

.score-group-value {
  font-size: 50px;
  line-height: 60px;
  padding-top: 10px;
}

.score-group-value-unit {
  font-size: 50%;
}

.score-group-value.you {
  color: #18B8EA;
}

.score-info {
  color: #18B8EA;
}

.score-group-label {
  color: #000000;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 5px;
}

.score-group-unit-label {
  text-align: center;
  color: #333333;
  clear: both;
  font-size: 18px;
}

.score-group-description {
  font-size: 14px;
  color: #333333;
}

/* Graph styles */

.graph-line {
  fill: none;
  stroke: #18B8EA;
  stroke-width: 6;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
  fill: #18B8EA;
  stroke: #fff;
}

.focus circle {
  fill: #ffab00;
  stroke: #ffab00;
}

.graph-mouseover-text {
  fill: #ffab00;
  font-size: 24px;
  font-weight: bold;
}

.share-url {
  display: inline;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .score-value {
    margin-bottom: 10px;
  }

  .score-month {
    font-weight: bold;
  }

  .score-group-value {
    font-size: 100px;
    line-height: 100px;
    padding-top: 20px;
  }

  .score-group-label {
    font-size: 24px;
  }
}
