.wrapper {
  width: 800px;
  margin: 0 auto;
}

.trip {
  overflow: hidden;
  background: #F4F4F4;
  margin: 25px 0;
  padding: 10px 15px;
  color: #777;
}

.trip:hover {
  background: #e3e3e3;
}

.trip .times {
  width: 75px;
  float: left;
  font-size: 12px;
  padding: 0 35px 0 0;
  position: relative;
  text-align: right;
}

.trip .duration {
  margin-top: 17px;
  font-weight: bold;
}

.trip .start-time {
  margin-top: 20px;
}

.trip .trip-line {
  position: absolute;
  width: 6px;
  height: 110px;
  background-color: #08b1d5;
  right: 0px;
  top: 6px;
}

.trip .trip-line div {
  width: 18px;
  height: 18px;
  background-color: #08b1d5;
  border-radius: 9px;
  margin-left: -6px;
}

.trip .trip-line div:first-child {
  margin-top: -3px;
}

.trip .trip-line div:last-child {
  position: absolute;
  bottom: 0;
}

.trip .locations {
  float: left;
  width: 390px;
  padding-left: 20px;
}

.trip .start-address,
.trip .end-address {
  font-size: 18px;
  white-space: nowrap;
}

.trip .trip-stats {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 5px 0;
  overflow: hidden;
}

.trip .distance {
  width: 29%;
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.trip .distance::after {
  content: ' MILES';
  font-size: 14px;
  font-weight: normal;
}

.trip .mpg {
  width: 33%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.trip .mpg::after {
  content: ' MPG';
  font-size: 14px;
  font-weight: normal;
}

.trip .fuel-cost {
  width: 37%;
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.trip .fuel-cost::before {
  content: '$';
  font-size: 14px;
  font-weight: normal;
  padding-right: 4px;
  vertical-align: 9px;
}

.trip .fuel-cost::after {
  content: ' FUEL';
  font-size: 14px;
  font-weight: normal;
}

.btn-receipt {
  margin-top: 36px;
  float: right;
  background:
}

.buttons {
  margin: 0 auto;
  display: block;
  width: 275px;
}

.buttons .btn:first-child {
  margin-right: 20px;
}

.buttons .btn {
  width: 100px;
}

.modal .modal-dialog {
  height: 600px;
  padding: 10px;
  width: 560px;
}

.modal .receipt-image {
  width: 100%;
}
